<mat-dialog-actions>
    <span class="mat-title">{{'module.clients.workout.workoutList' | localize }}</span>
    <span flex></span>
    <close-button (click)="close()"></close-button>
</mat-dialog-actions>

<mat-dialog-content>
    <ng-container *ngIf="workoutExercises">
        <mat-list>
            <mat-list-item *ngFor="let workoutExercise of workoutExercises">
                <div matLine>
                    <strong>{{ workoutExercise.exercise.exerciseName }}</strong>
                    <span class="mat-caption" *ngIf="workoutExercise.sets && workoutExercise.reps">
                        &nbsp;
                        <span matTooltip="{{'module.workouts.sets' | localize}}">{{workoutExercise.sets}}</span> x
                        <span matTooltip="{{'module.workouts.reps' | localize}}">{{workoutExercise.reps}}</span>
                    </span>
                </div>
                <div matLine *ngIf="workoutExercise.notes">
                    <div class="mat-caption pad-top-xs tc-grey-600">
                        {{ workoutExercise.notes }}
                    </div>
                </div>
            </mat-list-item>
        </mat-list>
    </ng-container>
</mat-dialog-content>