<data-form [config]="formConfig"></data-form>

<ng-container *ngFor="let chatMessage of chatMessages">
    <comment [text]="chatMessage.message" [date]="formatTime(chatMessage.created)" [name]="chatMessage.sender.getFullName()"
        [type]="currentUserId === chatMessage.sender.id ? 'primary' : 'secondary'" [avatarUrl]="chatMessage.sender.getAvatarOrGravatarUrl() ? chatMessage.sender.getAvatarOrGravatarUrl() : defaultAvatarUrl"></comment>
</ng-container>

<div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxFlex="30%" class="push">
        <loader [enabled]="loadMoreLoaderEnabled"></loader>
    </div>
</div>

<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [infiniteScrollContainer]="mainContentClass"
    [fromRoot]="true" (scrolled)="onScroll()">
</div>