<ng-container *ngIf="formConfig && chatMessages && users">
    <div fxLayout="row">
        <div fxLayout="column" fxFlex="25">
            <td-virtual-scroll-container [data]="users" [trackBy]="trackByFn">
                <ng-template let-row="user" let-index="index" let-first="first" let-last="last" let-odd="odd" let-even="even" tdVirtualScrollRow>
                    <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let user of users" class="push-top-sm">
                        <div fxLayout="column">
                            <img class="w-site-avatar-image" alt="user avatar" src="{{ getUserImageUrl(user) }}" />
                        </div>
                        <div fxLayout="column" class="push-top-sm">
                            {{ user.getUsername()}}
                        </div>
                    </div>
                </ng-template>
            </td-virtual-scroll-container>
        </div>
        <div fxLayout="column">
            messages
        </div>
    </div>

</ng-container>

<!--<ng-container *ngIf="formConfig && chatMessages">

    <div fxLayout="row">
        <div fxLayout="column" fxFlex="20%" fxFlex.md="20%" fxFlex.sm="100%" fxFlex.xs="100%">
            <td-search-input (searchDebounce)="searchConversation($event)" [showUnderline]="true" debounce="200" placeholder="{{ 'shared.search' | localize }}"></td-search-input>
        </div>
    </div>

    <mat-card>
        <mat-card-content>
            <data-form [config]="formConfig"></data-form>
        </mat-card-content>
        <mat-divider class="push-bottom-md"></mat-divider>
        <mat-card-content>
            <ng-container *ngFor="let chatMessage of chatMessages">
                <comment [text]="chatMessage.message" [date]="formatDate(chatMessage.created)" [name]="chatMessage.sender.getFullName()"
                    [avatarUrl]="chatMessage.sender.getAvatarOrGravatarUrl() ? chatMessage.sender.getAvatarOrGravatarUrl() : defaultAvatarUrl"></comment>
            </ng-container>
        </mat-card-content>
    </mat-card>

    <div class="text-center push">
        <button *ngIf="!allChatMessagesLoaded" mat-raised-button color="accent" (click)="loadMoreMessages()">{{ 'shared.loadMore' | localize }}</button>
        <button *ngIf="allChatMessagesLoaded" mat-raised-button>{{ 'module.clients.chat.allMessagesLoaded' | localize }}</button>
    </div>

</ng-container>
-->