<ng-container *ngIf="formConfig && chatMessages">

    <div class="push-left push-right push-top">
        <mat-form-field flex>
            <input matInput placeholder="{{'shared.search' | localize}}" [formControl]="searchControl" [value]="chatMessagesSearch"
            />
            <span matPrefix>
                <mat-icon>search</mat-icon>
            </span>
        </mat-form-field>
    </div>

    <mat-card class="push">
        <mat-card-content>
            <dynamic-form [config]="formConfig"></dynamic-form>
        </mat-card-content>
        <mat-divider class="push-bottom-md"></mat-divider>
        <mat-card-content>
            <ng-container *ngFor="let chatMessage of chatMessages">
                <comment [text]="chatMessage.message" [date]="formatDate(chatMessage.created)" [name]="chatMessage.sender.getFullName()"
                    [avatarUrl]="chatMessage.sender.avatarUrl ? chatMessage.sender.avatarUrl : defaultAvatarUrl"></comment>
            </ng-container>
        </mat-card-content>
    </mat-card>

    <div class="text-center push">
        <button *ngIf="!allChatMessagesLoaded" mat-raised-button color="accent" (click)="loadMoreMessages()">{{ 'shared.loadMore' | localize }}</button>
        <button *ngIf="allChatMessagesLoaded" mat-raised-button>{{ 'module.clients.chat.allMessagesLoaded' | localize }}</button>
    </div>

</ng-container>