<div class="container" fxLayout fxLayout.sm="column" fxLayout.xs="column">
    <div fxFlex="40%" class="push-sm">
        <mat-card>
            <mat-card-content *ngIf="appointment">
                <p class="mat-headline">{{ appointment.appointmentName }}</p>
                <p *ngIf="client">
                    <strong>{{ client.getFullName()}}</strong>
                </p>
                <p>
                    <span class="mat-caption">{{ 'module.clients.appointments.when' | localize }}:</span> {{ formatDate(appointment.appointmentDate)
                    }}
                </p>
                <p>
                    <span class="mat-caption">{{ 'module.clients.appointments.where' | localize }}:</span> {{ appointment.location.address }}
                </p>
                <p *ngIf="appointment.workout">
                    <span class="mat-caption">{{ 'module.clients.appointments.workout' | localize }}:</span> {{ appointment.workout.workoutName }}
                </p>
                <p *ngIf="appointment.notes">
                    <span class="mat-caption">{{ 'module.clients.appointments.notes' | localize }}:</span>
                </p>
                <p *ngIf="appointment.notes" class="mat-caption">
                    {{ appointment.notes }}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="60%" class="push-sm">
        <mat-card>
            <mat-card-content *ngIf="appointment">
                <map [apiKey]="googleApiKey" [address]="appointment.location.address" [lat]="appointment.location.lat" [lng]="appointment.location.lng"></map>
            </mat-card-content>
        </mat-card>
    </div>
</div>