<div class="w-login-page">
  <div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="25" fxFlex.sm="95" fxFlex.xs="95" fxFlex.md="35">
      <mat-card>
        <mat-card-content>
          <div class="push-sm">
            <div class="w-login-page-logo">
              <img alt="logo" [src]="appLogo">
            </div>
            <div class="push-top push-bottom w-login-page-title mat-subheading-2">
              {{ 'module.login.loginTitle' | localize }}
            </div>
            <mod-login-form></mod-login-form>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>