<loader [enabled]="loaderEnabled" color="accent" type="linear"></loader>

<mat-sidenav-container class="w-layout-sidenav-container">
  <mat-sidenav #snav class="w-layout-sidenav" [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'">

    <div fxLayout="row" fxLayoutAlign="center center">

      <div fxLayout="column" class="push-top push-bottom">
        <span [routerLink]="'/' + getDashboardUrl()" class="w-layout-app-name">{{ appName }}</span>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" *ngFor="let item of adminMenu.trainerMenu" class="w-layout-menu-item" (click)="handleMenuItemClick(item)">
      <div fxLayout="column" class="push-left push-right-sm" [class.accent]="menuItemIsActive(item.action, item.type, false)">
        <mat-icon class="w-layout-menu-item-icon">{{item.icon}}</mat-icon>
      </div>
      <div fxLayout="column" [class.accent]="menuItemIsActive(item.action, item.type, false)" fxFlex>
        {{item.label.key | localize}}
      </div>
      <div fxLayout="column" *ngIf="item.nestedItems && item.nestedItems.length > 0" class="pad-right">
        <mat-icon class="w-layout-show-more-icon" [@rotate90]="triggeredItems[item.identifier] ? triggeredItems[item.identifier].triggered : false">keyboard_arrow_right</mat-icon>
      </div>
    </div>

  </mat-sidenav>
  <!-- 'w-layout-sidenav-content' class is required for infinite scroll to work. For some reason it cannot be made as property as it kept throwing errors -->
  <mat-sidenav-content class="w-layout-sidenav-content">
    <div class="w-layout-top-panel">
      <admin-toolbar [matRightSidenav]="_rightSidenav" [matSidenav]="snav"></admin-toolbar>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" class="push w-layout-component-title">
      <div fxLayout="column" *ngIf="menuAvatarUrl" class="push-right-sm">
        <img alt="menu avatar" [src]="menuAvatarUrl" />
      </div>
      <div fxLayout="column">
        <title-1>{{ menuTitle }}</title-1>
      </div>
    </div>

    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="start center" fxLayoutAlign.xs="start " fxLayoutAlign.sm="start " fxLayout.sm="row"
      fxLayout.xs="row" class="w-layout-component-menu push-top pad-left pad-right">
      <div fxLayout="column" *ngFor="let item of menuItems" [routerLink]="getMenuItemUrl(item.action, item.type)" class="push-right pad-top pad-bottom w-layout-component-menu-item">
        <div fxLayout="row" fxLayoutAlign="start center" [ngClass.xs]="'push-top'">
          <div fxLayout="column" *ngIf="item.icon" class="push-right-sm">
            <mat-icon [class.accent]="menuItemIsActive(item.action, item.type)">{{item.icon}}</mat-icon>
          </div>
          <div fxLayout="column" [class.accent]="menuItemIsActive(item.action, item.type)">
            {{ item.label.key | localize}}
          </div>
        </div>
      </div>
    </div>

    <page-wrapper>
      <router-outlet></router-outlet>
    </page-wrapper>
  </mat-sidenav-content>

  <mat-sidenav #rightSidenav *ngIf="rightMenu" class="w-layout-right-sidenav" [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'"
    position="end">
    <div *ngIf="rightMenu.title" class="push-top mat-title text-center">
      {{ rightMenu.title | async }}
    </div>

    <ng-container *ngIf="enableComponentSearch">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex="80%">
          <mat-form-field floatPlaceholder="never">
            <input matInput placeholder="{{ 'shared.search' | localize }}" [formControl]="searchControl" [value]="search" />
            <span matPrefix>
              <mat-icon>search</mat-icon>
            </span>
          </mat-form-field>
        </div>
      </div>
    </ng-container>

    <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let item of rightMenu.menuItems" class="w-layout-right-menu-item"
      (click)="handleMenuItemClick(item)">
      <div *ngIf="item.icon" fxLayout="column" class="push-left push-right-sm" [class.primary]="menuItemIsActive(item.action, item.type, false)">
        <mat-icon class="w-layout-menu-item-icon">{{item.icon}}</mat-icon>
      </div>
      <div *ngIf="item.imageUrl" fxLayout="column" class="push-left push-right-sm" [class.primary]="menuItemIsActive(item.action, item.type, false)">
        <img alt="menu image" [src]="item.imageUrl" />
      </div>
      <div fxLayout="column" class="text-truncate" fxFlex>
        <span [class.primary]="menuItemIsActive(item.action, item.type, false)">{{item.label.key | localize}}</span>
      </div>
    </div>
  </mat-sidenav>

</mat-sidenav-container>