// Import theming functions
@import '~@angular/material/theming';

// Import your custom theme
@import '../../material/material-theme.scss';

/* Define properties */

$text-color: rgba(0, 0, 0, 0.87);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent, A400);

$primary-contrast: #ffffff;
$accent-contrast: #ffffff;

$leftSideNavSize: 220px;
