<mat-card *ngIf="workout">
  <mat-card-title>{{workout.workoutName}}</mat-card-title>
  <mat-card-subtitle>{{workout.workoutCategory.categoryName}}</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content *ngIf="workout.description">
    {{workout.description}}
  </mat-card-content>
</mat-card>

<div class="push-top" *ngIf="sortedWorkoutExercises">
  <td-expansion-panel *ngFor="let workoutExercise of sortedWorkoutExercises; let i = index">
    <ng-template td-expansion-panel-label>
      <span class="tc-red-700">{{i + 1}}.</span> {{workoutExercise.exercise.exerciseName}}
      <span class="md-caption tc-grey-700">({{workoutExercise.exercise.exerciseCategory.categoryName}})</span>
    </ng-template>
    <ng-template td-expansion-panel-sublabel>
      <span *ngIf="workoutExercise.sets && workoutExercise.reps" class="md-caption">{{workoutExercise.sets}}x{{workoutExercise.reps}}</span>
    </ng-template>
    <div class="md-padding md-caption">
      {{workoutExercise.notes}}
    </div>
  </td-expansion-panel>
</div>