<md-card *ngIf="workout" class="push">
  <md-card-title>{{workout.workoutName}}</md-card-title>
  <md-card-subtitle>{{workout.workoutCategory.categoryName}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content *ngIf="workout.description">
    {{workout.description}}
  </md-card-content>
  <md-divider></md-divider>
  <md-card-content *ngIf="workout.workoutExercises"  [dragula]='"bag-one"' [dragulaModel]="workout.workoutExercises">
    <td-expansion-panel *ngFor="let workoutExercise of workout.workoutExercises; let i = index">
      <ng-template td-expansion-panel-label>
        <span class="tc-red-700">{{i + 1}}.</span> {{workoutExercise.exercise.exerciseName}}
        <span class="md-caption tc-grey-700">({{workoutExercise.exercise.exerciseCategory.categoryName}})</span>
      </ng-template>
      <ng-template td-expansion-panel-sublabel>
        <span class="md-caption">{{workoutExercise.sets}} {{'module.workouts.sets' | translate }} / {{workoutExercise.reps}} {{'module.workouts.reps' | translate }}</span>
      </ng-template>
      <div class="md-padding">
        <div class="md-caption">{{workoutExercise.exercise.description}}</div>
      </div>
    </td-expansion-panel>
  </md-card-content>
  <md-card-actions>
    <button md-button color="primary" class="text-upper">{{'module.workouts.addExercise' | translate }}</button>
    <button md-button class="text-upper " color="warn">{{'module.workouts.deleteWorkout' | translate }}</button>
  </md-card-actions>
</md-card>

<edit-dialog></edit-dialog>
