<ng-container *ngIf="config">
    <div class="w-boxes w-boxes-table-box">
        <div [ngClass]="{'w-box-card': config.wrapInCard, 'pad': config.wrapInCard}">
            <div *ngIf="config.title" fxLayoutAlign=" center" fxLayout="row">
                <div fxFlex [class]="config.titleAlign">
                    <div class="mat-title primary">
                        {{ config.title | async }}
                    </div>
                </div>
            </div>

            <div *ngIf="config.lines | async; let lines" fxFlexFill fxLayout="row" fxLayout.sm="100" fxLayout.xs="100" fxLayout.md="100">
                <div fxLayout="column" fxFlex="initial" [ngClass]="{'push-sm': config.wrapInCard, 'push-right-sm': !config.wrapInCard}">
                    <div *ngFor="let line of lines" fxLayout="row" class="push-top-sm">
                        <strong>{{ line.text | async }}:</strong>
                    </div>
                </div>
                <div fxLayout="column" fxFlex.md="100" fxFlex.xs="100" fxFlex.sm="100" [ngClass]="{'push-sm': config.wrapInCard, 'push-left-sm': !config.wrapInCard}">
                    <div *ngFor="let line of lines" fxLayout="row" class="push-top-sm">
                        {{ line.value | async }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>