<mat-dialog-actions>
    <span class="md-title">{{'module.workouts.addCustomExercise' | localize }}</span>
    <span flex></span>
    <close-button (click)="close()"></close-button>
</mat-dialog-actions>

<mat-dialog-content>
    <div class="md-padding">
        <data-form #dataForm [config]="workoutExerciseForm"></data-form>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <dialog-button [dataForm]="dataForm" dataFormSaveButton color="accent">{{ 'shared.create' | localize }}</dialog-button>
    <span flex></span>
</mat-dialog-actions>