<mat-dialog-actions>
    <span *ngIf="exercise" class="md-title">{{'module.workouts.addWorkoutExercise' | localize }} - {{ exercise.exerciseName }}</span>
    <span flex></span>
    <close-button (click)="close()"></close-button>
</mat-dialog-actions>

<mat-dialog-content>
    <div class="md-padding">
        <dynamic-form [config]="workoutExerciseForm" (statusChanged)="onStatusChanged($event)" [customSaveButtonSubject]="customSaveButtonSubject"
            [customDeleteButtonSubject]="customDeleteButtonSubject"></dynamic-form>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <dialog-button [disabled]="!formStatus || (formStatus && !formStatus.isValid)" color="accent" (handleClick)="customSaveButtonSubject.next()">{{ 'shared.create' | localize }}</dialog-button>
    <span flex></span>
</mat-dialog-actions>