<mat-dialog-actions>
    <span class="mat-title">{{'module.workouts.editWorkoutExercise' | localize }}</span>
    <span flex></span>
    <close-button (click)="close()"></close-button>
</mat-dialog-actions>

<mat-dialog-content>
    <div class="mat-padding">
        <data-form #dataForm [config]="workoutExerciseForm"></data-form>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button [dataForm]="dataForm" dataFormSaveButton color="accent">{{ 'shared.save' | localize }}</button>
    <span flex></span>
    <delete-button [dataForm]="dataForm" dataFormDeleteButton [enableConfirm]="false"></delete-button>
</mat-dialog-actions>