<mat-dialog-actions>
    <span class="mat-title"> {{'module.workouts.selectExercise' | localize}}</span>
    <span fxFlex></span>
    <add-button class="push-right" tooltip="{{'module.workouts.addCustomExercise' | localize }}" (click)="addCustomExercise()"></add-button>
    <close-button (click)="close()"></close-button>
</mat-dialog-actions>

<mat-dialog-content>
    <div class="push-top push-bottom">
        <data-table #dataTable [config]="config"></data-table>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <div fxFlex></div>
    <data-table-pager [dataTable]="dataTable"></data-table-pager>
</mat-dialog-actions>