<div *ngIf="initialized" layout="row" layout-margin [formGroup]="formGroup">

  <mat-form-field [hintLabel]="field.hint ? field.hint : undefined" fxFlex>
    <input matInput [formControlName]="field.key" [id]="field.key" (click)="datepicker.open()" [matDatepicker]="datepicker" [required]="field.required"
      [placeholder]="field.label">
    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker></mat-datepicker>
    <mat-error *ngIf="customError">{{customError}}</mat-error>
  </mat-form-field>
</div>