<div *ngIf="initialized" layout="row" layout-margin [formGroup]="formGroup">

  <mat-form-field [hintLabel]="field.hint" flex>
    <input matInput [attr.maxLength]="field.options.maxLength > 0 ? field.options.maxLength : null" [required]="field.required"
      [placeholder]="field.label" [formControlName]="field.key" [id]="field.key" type="number" #elem>
    <mat-hint *ngIf="showLengthHint" [ngClass]="{'tc-red-600': elem.value.length > field.options.maxLength}" align="end">{{elem.value.length}} / {{field.options.maxLength}}</mat-hint>
    <mat-error>{{customError}}</mat-error>
  </mat-form-field>

</div>