<div *ngIf="initialized && activePhoneFormat" layout="row" layout-margin [formGroup]="formGroup">

  <mat-form-field [hintLabel]="field.hint ? field.hint : undefined" fxFlex>
    <span matPrefix>{{ activePhoneFormat.inputPrefix }}&nbsp;</span>
    <input matInput [textMask]="{mask: activePhoneFormat.mask}" [required]="field.required"
      [placeholder]="field.label" [formControlName]="field.key" [id]="field.key" type="tel" #elem>
    <mat-icon matSuffix>phone</mat-icon>
    <!-- Don't show length hint for phone
      <mat-hint *ngIf="showLengthHint" [ngClass]="{'tc-red-600': elem.value.length > options.maxLength}" align="end">{{elem.value.length}} / {{options.maxLength}}</mat-hint>
     -->
    <mat-error *ngIf="customError">{{customError}}</mat-error>
  </mat-form-field>

</div>