<div *ngIf="initialized" layout="row" layout-margin [formGroup]="formGroup">
  <mat-form-field [hintLabel]="field.hint ? field.hint : undefined" fxFlex>
    <input matInput [attr.maxLength]="field.options && field.options.maxLength ? field.options.maxLength : undefined" [required]="field.required"
      [placeholder]="field.label" [formControlName]="field.key" [id]="field.key" type="text" #elem>
    <mat-hint *ngIf="showLengthHint && field.options && field.options.maxLength" [class.tc-red-600]="elem.value.length > field.options.maxLength" align="end">{{elem.value.length}} / {{field.options.maxLength }}</mat-hint>
    <mat-error *ngIf="customError">{{customError}}</mat-error>
    <mat-icon *ngIf="field.options && field.options.icon" matSuffix>{{ field.options.icon }}</mat-icon>
  </mat-form-field>
</div>




