<ng-container *ngIf="config">

  <div *ngIf="config.showSearch" class="push-left push-right push-top">
    <mat-form-field flex>
      <input matInput placeholder="{{'webComponents.loadMore.search' | translate}}" [formControl]="searchControl" [value]="searchTerm"
      />
      <span matPrefix><mat-icon>search</mat-icon></span>
    </mat-form-field>
  </div>

  <ng-container *ngIf="config.wrapInCard">
    <mat-card class="push">
      <loader [enabled]="localLoaderLoading" type="linear">
        <div *ngIf="!items && !initialized" style="min-height: 150px">
          &nbsp;
        </div>
        <div *ngIf="items && items.length > 0">
          <ng-container *ngFor="let item of items; let last = last">
            <mat-list>

                <mat-list-item>
                    <mat-icon *ngIf="config.iconResolver && !config.iconClassResolver" mat-list-avatar>{{ config.iconResolver(item) }}</mat-icon>
                    <mat-icon *ngIf="config.iconResolver && config.iconClassResolver" mat-list-avatar [ngClass]="[config.iconClassResolver(item)]">{{ config.iconResolver(item) }}</mat-icon>
                    <img *ngIf="config.imageResolver" src="{{ config.imageResolver(item) }}" alt="" mat-list-avatar>
                    <p matLine>
                        <ng-container *ngIf="config.title && config.title(item) | async; let title" >
                          <span class="md-body-1 tc-grey-900" [innerHtml]="title"></span>
                        </ng-container>
                        <ng-container *ngIf="config.text && config.text(item) | async; let text" >
                            <span class="md-body-1 tc-grey-600" [innerHtml]="text"></span>
                        </ng-container>
                    </p>
                    <p matLine>
                        <ng-container *ngIf="config.footer && config.footer(item) | async; let footer" >
                            <span class="md-caption" [innerHtml]="footer"></span>
                        </ng-container>
                    </p>
                </mat-list-item>

            </mat-list>
          </ng-container>
        </div>
      </loader>
    </mat-card>
  </ng-container>

  <div *ngIf="items" class="text-center psh">
    <button *ngIf="showMoreButton" mat-raised-button color="primary" (click)="loadMoreButtonSubject.next()">{{ 'webComponents.loadMore.loadMore' | translate }}</button>
    <p *ngIf="!showMoreButton"><span class="md-caption"><em>{{ 'webComponents.loadMore.defaultAllItemsLoaded' | translate }}</em></span></p>
  </div>

  <div *ngIf="initialized && ((items && items.length === 0) || !items)" class="push">
    <no-data-message></no-data-message>
  </div>

</ng-container>