<md-card tdmediatoggle="gt-xs" class="push">
  <td-search-box *ngIf="config.showSearch" (searchDebounce)="handleSearch($event)" class="push-left push-right" placeholder="search" [alwaysVisible]="true"></td-search-box>
  <md-divider *ngIf="config.showSearch"></md-divider>
  <md-nav-list role="list">
    <md-list-item *ngIf="config.showHeader" disableRipple="true">
      <span *ngFor="let field of fields" flex="field.flex" class="{{getTextAlignClass(field)}}">
          {{field.label}}
        </span>
    </md-list-item>
    <div *ngFor="let item of items; let i=index">
      <md-divider *ngIf="!isFirstItem(i) || config.showHeader"></md-divider>
      <md-list-item [routerLink]="getItemUrl(item)">
        <span *ngFor="let field of fields" flex="field.flex" [class.tc-grey-500]="field.isSubtle" [class.md-caption]="field.isSubtle" class="{{getTextAlignClass(field)}}">
          {{getFieldValue(field, item)}}
        </span>
      </md-list-item>
    </div>
    <div *ngIf="items != null && items.length == 0" layout="row" layout-align="center">
      <h3>No results here</h3>
    </div>
  </md-nav-list>
</md-card>