<md-dialog-actions>
    <span *ngIf="food" class="md-title">{{'module.diets.addDietFood' | translate }} - {{ food.foodName }}</span>
    <span flex></span>
    <close-button (click)="close()"></close-button>
</md-dialog-actions>

<md-dialog-content>
    <div class="md-padding">
        <dynamic-form [config]="dietFoodForm" (statusChanged)="onStatusChanged($event)" [customSaveButtonSubject]="customSaveButtonSubject" [customDeleteButtonSubject]="customDeleteButtonSubject"></dynamic-form>
    </div>
</md-dialog-content>

<md-dialog-actions>
    <dialog-button [disabled]="!formIsValid" color="accent" (handleClick)="customSaveButtonSubject.next()">{{ 'shared.create' | translate }}</dialog-button>
    <span flex></span>
    <delete-button (confirm)="customDeleteButtonSubject.next()"></delete-button>
</md-dialog-actions>