<mat-dialog-actions>
    <span *ngIf="food" class="md-title">{{'module.diets.addDietFood' | translate }} - {{ food.foodName }}</span>
    <span flex></span>
    <close-button (click)="close()"></close-button>
</mat-dialog-actions>

<mat-dialog-content>
    <div class="md-padding">
        <dynamic-form [config]="dietFoodForm" (statusChanged)="onStatusChanged($event)" [customSaveButtonSubject]="customSaveButtonSubject" [customDeleteButtonSubject]="customDeleteButtonSubject"></dynamic-form>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <dialog-button [disabled]="!formStatus || (formStatus && !formStatus.isValid)" color="accent" (handleClick)="customSaveButtonSubject.next()">{{ 'shared.create' | translate }}</dialog-button>
    <span flex></span>
</mat-dialog-actions>