<mat-dialog-actions>
    <span class="md-title">{{'module.diets.editDietFood' | localize }}</span>
    <span flex></span>
    <close-button (click)="close()"></close-button>
</mat-dialog-actions>

<mat-dialog-content>
    <div class="md-padding">
        <data-form #dataForm [config]="dietFoodForm"></data-form>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <dialog-button [dataForm]="dataForm" dataFormSaveButton color="accent">{{ 'shared.save' | localize }}</dialog-button>
    <span flex></span>
    <delete-button [dataForm]="dataForm" dataFormDeleteButton enableConfirm="false"></delete-button>
</mat-dialog-actions>