<mat-card class="push">
    <mat-card-content>
        <button mat-raised-button color="primary" [routerLink]="[getTrainerUrl('clients/edit/' + clientId + '/new-diet')]">{{'module.clients.diet.newDiet' | translate}}</button>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-form-field>
            <mat-select #copyFromDiet [disabled]="!dietTemplates" placeholder="{{'module.clients.diet.copyDietLabel' | translate}}" [(ngModel)]="selectedValue">
                <mat-option *ngFor="let diet of dietTemplates" [value]="diet">
                    {{ diet.dietName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button class="push-left" color="primary" [disabled]="!copyFromDiet.selected" (click)="newDietFromTemplate(copyFromDiet)">{{'module.clients.copyFromTemplate' | translate}}</button>
    </mat-card-content>
</mat-card>

<div *ngIf="existingDiets" class="push">
    <mat-list [dragula]='"dragula-bag"' [dragulaModel]="existingDiets">
        <ng-container *ngFor="let diet of existingDiets; let i = index">
            <mat-list-item class="w-sort-list-item dragula-move-handle">
                <span class="tc-red-700">{{i + 1}}. &nbsp;</span>
                <span>{{diet.dietName}}</span>
                <span flex></span>
                <mat-icon class="w-cursor-pointer" (click)="expandDiet(diet)">list</mat-icon>
                <edit-button (editAction)="goToEditDiet(diet)"></edit-button>
                <delete-button (confirm)="deleteDiet(diet)"></delete-button>
            </mat-list-item>
            <mat-list-item *ngIf="expandedDietId === diet.id">
                <div matLine *ngFor="let dietFood of diet.dietFoods; let i = index">
                    <div class="md-caption push-xs"><strong>{{dietFood.eatTime}}: </strong> {{ dietFood.food.foodName }} ({{dietFood.unitValue}} {{dietFood.food.foodUnit.unitCode
                        | translate}})
                    </div>
                </div>
            </mat-list-item>
        </ng-container>
    </mat-list>
</div>