<mat-card *ngIf="diet">
  <mat-card-title>{{diet.dietName}}</mat-card-title>
  <mat-card-subtitle>{{ 'module.dietCategories.categories.' + diet.dietCategory.codename | localize}}</mat-card-subtitle>
  <mat-card-content *ngIf="diet.description">
    {{diet.description}}
  </mat-card-content>
</mat-card>

<div *ngIf="diet" class="push-top">
  <div>
    <span class="mat-body-1">{{ 'module.diets.add' | localize }}: </span>
    <button mat-raised-button color="primary" class="text-upper" (click)="openSelectFoodDialog(true, false, false)">{{'module.diets.addDietFood' | localize }}</button>
    <button mat-raised-button color="primary" class="text-upper" (click)="openSelectFoodDialog(false, true, false)">{{'module.diets.addDietMeal' | localize }}</button>
    <button mat-raised-button color="primary" class="text-upper" (click)="openSelectFoodDialog(false, false, true)">{{'module.diets.addDietSupplement' | localize }}</button>
  </div>

  <div *ngIf="sortedDietFoods">

    <div *ngIf="sortedDietFoods">
      <mat-list [dragula]='"dragula-bag"' class="push-top" [dragulaModel]="sortedDietFoods">
        <ng-container *ngFor="let dietFood of sortedDietFoods; let i = index">
          <mat-list-item class="w-sort-list-item dragula-move-handle">
            <span class="tc-red-700">{{i + 1}}.</span>
            <span class="text-truncate push-left-sm">{{dietFood.food.foodName}}</span>
            <span fxFlex></span>
            <span class="mat-caption">&nbsp;(
              <plural-food-units [count]="dietFood.amount" [unitCode]="dietFood.food.foodUnit.unitCode"></plural-food-units>)</span>
            <edit-button color="none" (editAction)="openDietFoodDialog(dietFood)"></edit-button>
            <delete-button [enableConfirm]="true" color="none" (confirm)="deleteDietFood(dietFood)"></delete-button>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </div>

    <div *ngIf="sortedDietFoods && sortedDietFoods.length > 5" class="push-top">
      <div>
        <span class="mat-body-1">{{ 'module.diets.add' | localize }}</span>
        <button mat-raised-button color="primary" class="text-upper" (click)="openSelectFoodDialog(true, false, false)">{{'module.diets.addDietFood' | localize }}</button>
        <button mat-raised-button color="primary" class="text-upper" (click)="openSelectFoodDialog(false, true, false)">{{'module.diets.addDietMeal' | localize }}</button>
        <button mat-raised-button color="primary" class="text-upper" (click)="openSelectFoodDialog(false, false, true)">{{'module.diets.addDietSupplement' | localize }}</button>
      </div>
    </div>
  </div>
</div>