<ng-container *ngIf="config && config.wrapInCard">
    <div class="w-data-form">
        <div *ngIf="!formGroup">
            <mat-card>
                <loader [enabled]="loaderEnabled" type="linear"></loader>
            </mat-card>
        </div>
        <form *ngIf="formGroup" [formGroup]="formGroup" autocomplete="off">

            <mat-card>

                <loader [enabled]="loaderEnabled" type="linear"></loader>

                <mat-card-content>

                    <error-message *ngIf="errorLoadingForm" text="{{ 'webComponents.dataForm.formLoadingError' | localize }}"></error-message>

                    <ng-container *ngFor="let row of rows">
                        <div *ngIf="row.section" class="push-left push-right">
                            <h2 *ngIf="row.isLargeSection()" class="title">{{ row.section.title | async }}</h2>
                            <h3 *ngIf="row.isMediumSection()" class="subheading-2">{{ row.section.title | async }}</h3>
                            <h4 *ngIf="row.isSmallSection()" class="subheading-1">{{ row.section.title | async }}</h4>
                        </div>
                        <div fxLayout fxLayout.sm="column" fxLayout.xs="column" fxLayout.md="row">
                            <ng-container *ngFor="let field of row.fields">
                                <div [fxFlex]="field.width">
                                    <data-form-field [fields]="fields" [field]="field" [formGroup]="formGroup" [config]="config"></data-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>

                    <error-message *ngIf="formError" [text]="formError"></error-message>
                    <error-message *ngIf="unknownError" text="{{ 'webComponents.dataForm.internalError' | localize }}"></error-message>

                </mat-card-content>
                <mat-divider *ngIf="config.renderButtons"></mat-divider>
                <mat-card-actions *ngIf="config.renderButtons">
                    <div fxFlex layout="row" class="push-left push-right push-top-sm push-bottom-sm">
                        <button *ngIf="isInsertForm" mat-raised-button color="accent" (click)="handleInsertItem()" [disabled]="!formGroup.valid">
                            <ng-container *ngIf="config.customButtonSaveText">
                                {{ config.customButtonSaveText | async }}
                            </ng-container>
                            <ng-container *ngIf="!config.customButtonSaveText">
                                {{ 'webComponents.dataForm.insert' | localize }}
                            </ng-container>
                        </button>
                        <button *ngIf="isEditForm" mat-raised-button color="accent" (click)="handleEditItem()" [disabled]="!formGroup.valid">
                            <ng-container *ngIf="config.customButtonSaveText">
                                {{ config.customButtonSaveText | async }}
                            </ng-container>
                            <ng-container *ngIf="!config.customButtonSaveText">
                                {{ 'webComponents.dataForm.save' | localize }}
                            </ng-container>
                        </button>
                        <div style="margin-top:10px; margin-left: 6px">
                            <loader [enabled]="loaderEnabled" type="mat-circle"></loader>
                        </div>
                        <div flex></div>
                        <delete-button [enableConfirm]="false" *ngIf="isDeleteEnabled" (confirm)="handleDeleteItem()"></delete-button>
                    </div>
                </mat-card-actions>
            </mat-card>

            <!-- Hidden save button used so that forms can be submitted by hitting enter. 
                 This is useful if buttons are not rendered in the form -->
            <button *ngIf="!config.renderButtons && isInsertForm" (click)="handleInsertItem()" class="w-hide" type="submit">Hidden submit</button>
            <button *ngIf="!config.renderButtons && isEditForm" (click)="handleEditItem()" class="w-hide" type="submit">Hidden submit</button>

        </form>
    </div>
</ng-container>

<ng-container *ngIf="config && !config.wrapInCard">
    <loader [enabled]="loaderEnabled" type="linear"></loader>
    <div *ngIf="formGroup">
        <form [formGroup]="formGroup" autocomplete="off">

            <div>
                <error-message *ngIf="errorLoadingForm" text="{{ 'webComponents.dataForm.formLoadingError' | localize }}"></error-message>
            </div>

            <div style="width: 100%">
                <ng-container *ngFor="let row of rows">
                    <div *ngIf="row.section" class="push-left push-right">
                        <h2 *ngIf="row.isLargeSection()" class="title">{{ row.section.title | async }}</h2>
                        <h3 *ngIf="row.isMediumSection()" class="subheading-2">{{ row.section.title | async }}</h3>
                        <h4 *ngIf="row.isSmallSection()" class="subheading-1">{{ row.section.title | async }}</h4>
                    </div>
                    <div fxLayout fxLayout.sm="column" fxLayout.xs="column" fxLayout.md="row">
                        <ng-container *ngFor="let field of row.fields">
                            <div [fxFlex]="field.width">
                                <data-form-field [fields]="fields" [field]="field" [formGroup]="formGroup" [config]="config"></data-form-field>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>

            <div>
                <error-message *ngIf="formError" [text]="formError"></error-message>
                <error-message *ngIf="unknownError" text="{{ 'webComponents.dataForm.internalError' | localize }}"></error-message>

                <mat-divider *ngIf="config.renderButtons"></mat-divider>

                <div *ngIf="config.renderButtons" fxFlex layout="row" class="push-left push-right push-top-sm push-bottom-sm">
                    <button *ngIf="isInsertForm" mat-raised-button color="accent" (click)="handleInsertItem()" [disabled]="!formGroup.valid">
                        <ng-container *ngIf="config.customButtonSaveText">
                            {{ config.customButtonSaveText | async }}
                        </ng-container>
                        <ng-container *ngIf="!config.customButtonSaveText">
                            {{ 'webComponents.dataForm.insert' | localize }}
                        </ng-container>
                    </button>
                    <button *ngIf="isEditForm" mat-raised-button color="accent" (click)="handleEditItem()" [disabled]="!formGroup.valid">
                        <ng-container *ngIf="config.customButtonSaveText">
                            {{ config.customButtonSaveText | async }}
                        </ng-container>
                        <ng-container *ngIf="!config.customButtonSaveText">
                            {{ 'webComponents.dataForm.save' | localize }}
                        </ng-container>
                    </button>
                    <div style="margin-top:10px; margin-left: 6px">
                        <loader [enabled]="loaderEnabled" type="mat-circle"></loader>
                    </div>
                    <div flex></div>
                    <delete-button [enableConfirm]="false" *ngIf="isDeleteEnabled" (confirm)="handleDeleteItem()"></delete-button>
                </div>
            </div>

            <!-- Hidden save button used so that forms can be submitted by hitting enter. 
                 This is useful if buttons are not rendered in the form -->
            <button *ngIf="!config.renderButtons && isInsertForm" (click)="handleInsertItem()" class="w-hide" type="submit">Hidden submit</button>
            <button *ngIf="!config.renderButtons && isEditForm" (click)="handleEditItem()" class="w-hide" type="submit">Hidden submit</button>
        </form>

    </div>
</ng-container>