<ng-container *ngIf="config && config.wrapInCard">

    <loader [enabled]="loaderEnabled" type="linear"></loader>

    <mat-card *ngIf="formGroup">
        <mat-card-content>
            <form [formGroup]="formGroup" autocomplete="off">
                <ng-container *ngFor="let field of fields">
                    {{ field.key }}
                </ng-container>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <div fxFlex layout="row">
                <button *ngIf="isInsertForm" mat-raised-button color="accent" (click)="handleInsertItem()" [disabled]="!formGroup.valid">Insert</button>
                <button *ngIf="isEditForm" mat-raised-button color="accent" (click)="handleEditItem()" [disabled]="!formGroup.valid">Save</button>
                <div flex></div>
                <delete-button (confirm)="handleDeleteItem()"></delete-button>
            </div>
        </mat-card-actions>
    </mat-card>

</ng-container>

<ng-container *ngIf="config && config.wrapInCard">
    To do
</ng-container>