<ng-container *ngIf="isTextField()">
  <df-text [fields]="fields" [field]="field" [formGroup]="formGroup" [config]="config"></df-text>
</ng-container>

<ng-container *ngIf="isBooleanField()">
  <df-boolean [fields]="fields" [field]="field" [formGroup]="formGroup" [config]="config"></df-boolean>
</ng-container>

<ng-container *ngIf="isRadioBooleanField()">
  <df-radio-boolean [fields]="fields" [field]="field" [formGroup]="formGroup" [config]="config"></df-radio-boolean>
</ng-container>

<ng-container *ngIf="isDateField()">
  <df-date [fields]="fields" [field]="field" [formGroup]="formGroup" [config]="config"></df-date>
</ng-container>

<ng-container *ngIf="isTextAreaField()">
  <df-text-area [fields]="fields" [field]="field" [formGroup]="formGroup" [config]="config"></df-text-area>
</ng-container>

<ng-container *ngIf="isHiddenField()">
  <df-hidden [fields]="fields" [field]="field" [formGroup]="formGroup" [config]="config"></df-hidden>
</ng-container>

<ng-container *ngIf="isDropdownField()">
  <df-dropdown [fields]="fields" [field]="field" [formGroup]="formGroup" [config]="config"></df-dropdown>
</ng-container>

<ng-container *ngIf="isNumberField()">
  <df-number [fields]="fields" [field]="field" [formGroup]="formGroup" [config]="config"></df-number>
</ng-container>

<ng-container *ngIf="isPhoneNumberField()">
  <df-phone-number [fields]="fields" [field]="field" [formGroup]="formGroup" [config]="config"></df-phone-number>
</ng-container>

<ng-container *ngIf="isDateTime()">
  <df-date-time [fields]="fields" [field]="field" [formGroup]="formGroup" [config]="config"></df-date-time>
</ng-container>

<ng-container *ngIf="isDurationField()">
  <df-duration [fields]="fields" [field]="field" [formGroup]="formGroup" [config]="config"></df-duration>
</ng-container>

<ng-container *ngIf="isEmailField()">
  <df-email [fields]="fields" [field]="field" [formGroup]="formGroup" [config]="config"></df-email>
</ng-container>
