<div *ngIf="initialized && activePhoneFormat" layout="row" layout-margin [formGroup]="form">

  <mat-form-field [hintLabel]="question.hint" flex>
    <span matPrefix>{{ activePhoneFormat.inputPrefix }}&nbsp;</span>
    <input matInput [textMask]="{mask: activePhoneFormat.mask}" [required]="question.required"
      [placeholder]="question.label" [formControlName]="question.key" [id]="question.key" type="tel" #elem>
    <mat-icon matSuffix>phone</mat-icon>
    <!-- Don't show length hint for phone
      <mat-hint *ngIf="showLengthHint" [ngClass]="{'tc-red-600': elem.value.length > question.options.maxLength}" align="end">{{elem.value.length}} / {{question.options.maxLength}}</mat-hint>
     -->
    <mat-error>{{customError}}</mat-error>
  </mat-form-field>

</div>