<div *ngIf="initialized" layout="row" layout-margin [formGroup]="form">

  <div flex>
    <mat-radio-group [formControlName]="controlName" [id]="controlName" [required]="required" (change)="handleRadioButtonChange($event)"
      #elem>
      <mat-radio-button [checked]="radioCheckboxTrueChecked" value="true" class="push-right">{{trueOptionLabel}}</mat-radio-button>
      <mat-radio-button [checked]="radioCheckboxFalseChecked" value="false">{{falseOptionLabel}}</mat-radio-button>
    </mat-radio-group>
  </div>

</div>