<div *ngIf="initialized" layout="row" layout-margin [formGroup]="form">

  <mat-form-field [hintLabel]="hint" flex>
    <textarea matTextareaAutosize matInput [matAutosizeMinRows]="question.options.minAutosizeRows" [matAutosizeMaxRows]="question.options.maxAutosizeRows"
      [attr.maxLength]="question.options.maxLength > 0 ? question.options.maxLength : null" [required]="required"
      [placeholder]="label" [formControlName]="controlName" [id]="controlName" [type]="textarea"
      #elem>
    </textarea>
    <mat-hint *ngIf="showLengthHint" [ngClass]="{'tc-red-600': elem.value.length > question.options.maxLength}" align="end">{{elem.value.length}} / {{question.options.maxLength}}</mat-hint>
    <mat-error>{{customError}}</mat-error>
  </mat-form-field>

</div>