<div *ngIf="question" layout="row" layout-margin [formGroup]="form">
  <!-- Question types -->
  <mat-form-field *ngIf="isTextField()" flex [hintLabel]="questionHint">
    <input matInput [attr.maxLength]="question.options.maxLength > 0 ? question.options.maxLength : null"
      [required]="question.required" [placeholder]="question.translatedLabel" [formControlName]="question.key" [id]="question.key"
      [type]="question.type" #elem>
    <mat-hint *ngIf="showLengthHint()" [ngClass]="{'tc-red-600': elem.value.length > question.options.maxLength}" align="end">{{elem.value.length}} / {{question.options.maxLength}}</mat-hint>
    <mat-error>{{customError}}</mat-error>
  </mat-form-field>

  <div *ngIf="isBooleanField()" flex>
    <mat-checkbox [checked]="checkBoxIsChecked" [formControlName]="question.key" [id]="question.key" [required]="question.required"
      #elem>&nbsp;{{question.translatedLabel}} <span class="md-caption">({{questionHint}})</span>
    </mat-checkbox>
    <span *ngIf="question.required && !elem.checked" class="tc-grey-500 md-caption"> ({{ 'form.shared.required' | translate }})</span>
  </div>

  <div *ngIf="isRadioBooleanField()" flex>
    <mat-radio-group [formControlName]="question.key" [id]="question.key" [required]="question.required" (change)="handleRadioButtonChange($event)"
      #elem>
      <mat-radio-button [checked]="radioCheckboxTrueChecked" value="true" class="push-right">{{question.options.trueOptionLabel}}</mat-radio-button>
      <mat-radio-button [checked]="radioCheckboxFalseChecked" value="false">{{question.options.falseOptionLabel}}</mat-radio-button>
    </mat-radio-group>
  </div>

  <div *ngIf="isDateField()" flex>
      <mat-form-field>
          <input matInput [matDatepicker]="datepicker" [formControlName]="question.key" [id]="question.key" [required]="question.required" [placeholder]="question.translatedLabel">
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker ></mat-datepicker>
      </mat-form-field>
  </div>

  <mat-form-field *ngIf="isTextAreaField()" flex [hintLabel]="questionHint">
    <textarea matTextareaAutosize matInput [matAutosizeMinRows]="question.options.minAutosizeRows" [matAutosizeMaxRows]="question.options.maxAutosizeRows"
      [attr.maxLength]="question.options.maxLength > 0 ? question.options.maxLength : null" [required]="question.required"
      [placeholder]="question.translatedLabel" [formControlName]="question.key" [id]="question.key" [type]="question.type"
      #elem>
    </textarea>
    <mat-hint *ngIf="showLengthHint()" [ngClass]="{'tc-red-600': elem.value.length > question.options.maxLength}" align="end">{{elem.value.length}} / {{question.options.maxLength}}</mat-hint>
    <mat-error>{{customError}}</mat-error>
  </mat-form-field>

  <div *ngIf="isHiddenField()">
    <input type="hidden" [formControlName]="question.key">
  </div>

  <div *ngIf="isDropdownField()" flex>
    <div>
      <mat-select [style.width]="getWidthStyle()" [id]="question.key" [formControlName]="question.key" [required]="question.required"
        [placeholder]="question.translatedLabel">
        <mat-option *ngFor="let option of question.options.listOptions" [value]="option.value">{{option.name}}</mat-option>
      </mat-select>
    </div>
  </div>

  <mat-form-field *ngIf="isNumberField()" flex [hintLabel]="questionHint">
    <input matInput [attr.maxLength]="question.options.maxLength > 0 ? question.options.maxLength : null"
      [required]="question.required" [placeholder]="question.translatedLabel" [formControlName]="question.key" [id]="question.key"
      type="number" [attr.min]="getMinNumberValue()" [attr.max]="getMaxNumberValue()" #elem>
    <mat-hint *ngIf="showLengthHint()" [ngClass]="{'tc-red-600': elem.value.length > question.options.maxLength}" align="end">{{elem.value.length}} / {{question.options.maxLength}}</mat-hint>
    <mat-error>{{customError}}</mat-error>
  </mat-form-field>

</div>