<div *ngIf="form">
  <form (ngSubmit)="onSubmit()" [formGroup]="form" autocomplete="off">
    <div *ngFor="let question of questions">
      <df-question [question]="question" [form]="form" [formConfig]="config"></df-question>
    </div>
    <div layout="row" layout-margin>
      <button md-raised-button color="accent" type="submit" [disabled]="!form.valid">{{submitText}}</button>
    </div>
    <td-message *ngIf="submissionError" [label]="submissionError" color="red" icon="error"></td-message>
  </form>
</div>