<div *ngIf="form">
  <form [formGroup]="form" autocomplete="off">
    <div *ngFor="let question of questions">
      <df-question [question]="question" [form]="form" [formConfig]="config"></df-question>
    </div>
    <div layout="row" layout-margin>
      <div flex>
        <button md-raised-button color="accent" (click)="onSubmit()" [disabled]="!form.valid">{{submitText}}</button>
      </div>
      <div *ngIf="isDeleteForm" flex class="text-right">
        <button md-raised-button color="warn" (click)="handleDelete()">{{deleteText}}</button>
      </div>
    </div>
    <td-message *ngIf="submissionError" [label]="submissionError" color="red" icon="error"></td-message>
  </form>
</div>