<ng-container *ngIf="isTextField()">
  <df-text [question]="question" [form]="form" [formConfig]="formConfig"></df-text>
</ng-container>

<ng-container *ngIf="isBooleanField()">
  <df-boolean [question]="question" [form]="form" [formConfig]="formConfig"></df-boolean>
</ng-container>

<ng-container *ngIf="isRadioBooleanField()">
  <df-radio-boolean [question]="question" [form]="form" [formConfig]="formConfig"></df-radio-boolean>
</ng-container>

<ng-container *ngIf="isDateField()">
  <df-date [question]="question" [form]="form" [formConfig]="formConfig"></df-date>
</ng-container>

<ng-container *ngIf="isTextAreaField()">
  <df-text-area [question]="question" [form]="form" [formConfig]="formConfig"></df-text-area>
</ng-container>

<ng-container *ngIf="isHiddenField()">
  <df-hidden [question]="question" [form]="form" [formConfig]="formConfig"></df-hidden>
</ng-container>

<ng-container *ngIf="isDropdownField()">
  <df-dropdown [question]="question" [form]="form" [formConfig]="formConfig"></df-dropdown>
</ng-container>

<ng-container *ngIf="isNumberField()">
  <df-number [question]="question" [form]="form" [formConfig]="formConfig"></df-number>
</ng-container>

<ng-container *ngIf="isPhoneNumberField()">
  <df-phone-number [question]="question" [form]="form" [formConfig]="formConfig"></df-phone-number>
</ng-container>

<ng-container *ngIf="isDateTime()">
  <df-date-time [question]="question" [form]="form" [formConfig]="formConfig"></df-date-time>
</ng-container>