<ng-container *ngIf="progressItemTypes">
    <div class="push">
        <md-chip-list>
            <md-chip *ngFor="let progressItemType of progressItemTypes" [selected]="idOfActiveType === progressItemType.id" class="w-cursor-pointer"
                (click)="onSelectType(progressItemType)">
                <ng-container *ngIf="progressItemType.translateValue">
                    {{'module.progressItemTypes.globalTypes.' + progressItemType.codename | translate}}
                </ng-container>
                <ng-container *ngIf="!progressItemType.translateValue">
                    {{progressItemType.typeName}}
                </ng-container>
            </md-chip>
        </md-chip-list>
    </div>
</ng-container>

<md-card class="push">
    <md-card-content>
        <graph [config]="graphConfig"></graph>
    </md-card-content>
</md-card>