<ng-container *ngIf="progressItemTypes && progressItemTypes.length > 0">
    <div class="push">
        <mat-chip-list selectable="true">
            <mat-chip *ngFor="let progressItemType of progressItemTypes" [selected]="idOfActiveType === progressItemType.id" class="w-cursor-pointer"
                (click)="onSelectType(progressItemType)">
                <ng-container *ngIf="progressItemType.translateValue">
                    {{'module.progressItemTypes.globalTypes.' + progressItemType.codename | translate}}
                </ng-container>
                <ng-container *ngIf="!progressItemType.translateValue">
                    {{progressItemType.typeName}}
                </ng-container>
            </mat-chip>
        </mat-chip-list>
    </div>

    <graph #graph [config]="graphConfig"></graph>

</ng-container>

<div class="push">
    <no-data-message *ngIf="progressItemTypes && progressItemTypes.length <= 0"></no-data-message>
</div>