<ng-container *ngIf="progressItemTypes && progressItemTypes.length > 0">
    <div>
        <mat-chip-list selectable="true">
            <mat-chip *ngFor="let progressItemType of progressItemTypes" [selected]="idOfActiveType === progressItemType.id" class="w-cursor-pointer"
                (click)="onSelectType(progressItemType)">
                <ng-container *ngIf="progressItemType.translateValue">
                    {{'module.progressItemTypes.globalTypes.' + progressItemType.codename | localize}}
                </ng-container>
                <ng-container *ngIf="!progressItemType.translateValue">
                    {{progressItemType.typeName}}
                </ng-container>
            </mat-chip>
        </mat-chip-list>
    </div>

    <div class="push-top-sm">
        <graph #graph [config]="graphConfig"></graph>
    </div>

</ng-container>

<div>
    <info-message *ngIf="progressItemTypes && progressItemTypes.length <= 0" text="{{ 'module.clients.stats.noStats' | localize }}"></info-message>
</div>