
/* fixes overflow when using vertical scroll on mobile devices */
.w-table-container{
    display: block; 
    max-width: 100%; 
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.w-cursor-move{
    cursor: move;
}

.w-cursor-pointer{
    cursor: pointer;
}

.w-hidden{
    display: none;
}

.w-tc-white{
    color: #FFFFFF;
}

.w-component-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
}

/* Gallery styles */

.w-gallery-wrapper img.ng-thumb {
    height: 140px!important;
}

/* Overrides 
Note: in order for overrides to work, this css should be loaded after the material's css
*/

.mat-chip{
    margin-top: 5px!important;
}

.mat-chip:not(.mat-basic-chip){
     /* changes color of material chips because otherwise
    they have same color as the background */
    background: #C9C9C9;
}

.mat-chip.w-cursor-pointer{
   cursor: pointer!important;
}

