<div class="w-graph">
  <ng-container *ngIf="config && config.wrapInCard">

    <mat-card>
      <loader [enabled]="loaderEnabled" type="linear"></loader>
      <mat-card-content class="pad-top-sm">
        <line-chart #graphComponent *ngIf="config.graphType === 0" [config]="config" (loaderChanged)="onLoaderChanged($event)"></line-chart>
        <vertical-bar-chart #graphComponent *ngIf="config.graphType === 1" [config]="config" (loaderChanged)="onLoaderChanged($event)"></vertical-bar-chart>
      </mat-card-content>
    </mat-card>

  </ng-container>

  <ng-container *ngIf="config && !config.wrapInCard">

    <loader [enabled]="loaderEnabled" type="linear"></loader>
    <div>
      <line-chart #graphComponent *ngIf="config.graphType === 0" [config]="config" (loaderChanged)="onLoaderChanged($event)"></line-chart>
      <vertical-bar-chart #graphComponent *ngIf="config.graphType === 1" [config]="config" (loaderChanged)="onLoaderChanged($event)"></vertical-bar-chart>
    </div>

  </ng-container>
</div>