/* New admin layout */

.w-layout-sidenav-container {
    height: 100%;
}

.w-layout-sidenav {
    width: 220px;
    background-color: #353943;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.w-layout-sidenav-content {
    background-color: #FFFFFF;
    height: 100%;
}

.w-layout-menu-item {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: .6px;
    cursor: pointer;
    padding: 13px 0 13px;

    .mat-icon {
        color: #FFFFFF;
        font-size: 15px;
    }
}

.w-layout-toolbar-link {
    color: #FFFFFF;
}

.w-layout-toolbar-link:hover {
    text-decoration: underline;
}

.w-layout-menu-item:hover {
    transition: color 0.2s ease;
    color: $accent;
    .mat-icon {
        transition: color 0.2s ease;
        color: $accent;
    }
}

.w-layout-app-name {
    font-size: 20px;
    cursor: pointer;
}

.w-layout-top-panel {
    background-image: -webkit-linear-gradient(45deg, $accent 0, $primary 100%);
    background-image: linear-gradient(45deg, $accent 0, $primary 100%);
    color: #FFFFFF;
}

.w-layout-large-screen-menu {
    font-size: 16px;
}

/* End new admin layout */

/* Layout z-index stacking */

/* Material issue: https://github.com/angular/material2/issues/7636 */

.mat-drawer.mat-drawer-side {
    z-index: 1!important;
}

.mat-drawer-content {
    z-index: auto!important;
}

.mat-drawer-container {
    z-index: auto!important;
}

/* Others */

.td-layout-nav-wrapper > .mat-toolbar {
    height: 56px;
    font-size: 14px;
    @include nav-shadow(); 
    margin-bottom:5 px;
}

.td-layout-nav-wrapper {
    z-index: 0;
}

.td-layout-manage-list-sidenav .mat-list-item .mat-list-text{
    font-size: 13px;
}

.mat-drawer.mat-sidenav > .mat-toolbar {
    background: white;
}

.w-layout-component-header {
    color: hsla(0,0%,100%,.87);
    background-color: $primary;
    padding-left: 20px;
    align-items: center;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;

    h1 {
        font-weight: 300;
        margin: 0;
        padding: 28px 8px;
        font-size: 20px;
        display: block;
    }
}

.w-layout-sidemenu-title {
    font-size: 18px;
}

.w-layout-drawbar-item:hover {
    background-color: $primary!important;
    
    color: $primary-contrast!important;

    .mat-icon {
        color: $primary-contrast!important;
    }
}

.td-nagivation-drawer-toolbar.mat-toolbar {
    background-color: $primary!important;
    color: $primary-contrast!important;
}

.td-navigation-drawer-menu-toggle > span {
    font-size: 12px!important;
}