
.w-layout-sidenav-container {
    height: 100%;
}

.w-layout-sidenav {
    width: 250px;
    background-color: #353943;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.w-layout-sidenav-content {
    background-color: #FFFFFF;
    height: 100%;
}

.w-layout-menu-item {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: .6px;
    cursor: pointer;
    padding: 13px 0 13px;
}

.w-layout-toolbar-link {
    color: #FFFFFF;
}

.w-layout-toolbar-link:hover {
    text-decoration: underline;
}

.w-layout-menu-item:hover {
    transition: color 0.2s ease;
    color: $accent;
    .mat-icon {
        transition: color 0.2s ease;
        color: $accent;
    }
}

.w-layout-app-name {
    font-size: 20px;
    cursor: pointer;
}

.w-layout-top-panel {
    background-image: -webkit-linear-gradient(45deg, $accent 0, $primary 100%);
    background-image: linear-gradient(45deg, $accent 0, $primary 100%);
    color: #FFFFFF;
}

.w-layout-menu-item-icon  {
    font-size: 15px;
}

.w-layout-large-screen-menu {
    font-size: 16px;
}

.w-layout-show-more-icon {
    font-size: 18px
}

.w-layout-component-menu {
    background-color: rgb(230, 230, 230);
    color: #353943;

    .w-layout-component-menu-item {
        font-size: 14px;
        cursor: pointer;

        .mat-icon {
            font-size: 15px;
        }
    }

    .w-layout-component-menu-item:hover {
        color: $accent;
        transition: color 0.2s ease;
    }
}
