/* Layout z-index stacking */

/* Material issue: https://github.com/angular/material2/issues/7636 */

.mat-drawer.mat-drawer-side {
    z-index: 1!important;
}

.mat-drawer-content {
    z-index: auto!important;
}

.mat-drawer-container {
    z-index: auto!important;
}

/* Others */

.td-layout-nav-wrapper > .mat-toolbar {
    height: 56px;
    font-size: 14px;
    @include nav-shadow(); 
    margin-bottom:5 px;
}

.td-layout-nav-wrapper {
    z-index: 0;
}

.td-layout-manage-list-sidenav .mat-list-item .mat-list-text{
    font-size: 13px;
}

.mat-drawer.mat-sidenav > .mat-toolbar {
    background: white;
}

.w-component-header {
    color: hsla(0,0%,100%,.87);
    background-color: $primary;
    padding-left: 20px;
    align-items: center;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;

    h1 {
        font-weight: 300;
        margin: 0;
        padding: 28px 8px;
        font-size: 20px;
        display: block;
    }
}