    /**
    Menu width.
    https://material.angular.io/components/menu/api
    **/
    .w-feed-menu {
        @media only screen and (max-width: 480px) {
            width: 280px!important;
        }

        @media only screen and (max-width: 720px) {
            width: 392px!important;
        }

        @media only screen and (min-width: 721px) {
            max-width: 448px!important;
            width: 448px!important;
        }
    }

    .w-feed-menu-subject {
        font-size: 14px;
        font-weight: 500;
    }

    .w-feed-menu-date {
        font-size: 11px;
        margin-left: 6px;
        color: rgba(0, 0, 0, 0.6)!important;
    }

    .w-toolbar-avatar {
        @include border-radius(50%); 
        height: 30px;
        width: 30px;
    }
