.w-site-copy-select-wrapper .mat-input-infix  {
    width: 250px;
}

.w-site-avatar-preview {
    max-width: 150px;
    max-height: 150px;
}

.w-site-avatar-image {
    width: 35px;
    height: 35px;
}

.w-site-icon-with-text {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

/**
Slightly moves icon top so that it is aligned with text inside material button
*/
.w-site-icon-button-fix {
    margin-top: -4px;
}
