<mat-dialog-actions>
    <span class="mat-title">{{'module.clients.progress.addProgressType' | localize }}</span>
    <span flex></span>
    <add-button class="push-right" tooltip="{{'module.clients.progress.newProgressItemType' | localize }}" (click)="addCustomProgressType()"></add-button>
    <close-button (click)="close()"></close-button>
</mat-dialog-actions>

<mat-dialog-content>
    <div class="push-top push-bottom">
        <data-table #dataTable [config]="config"></data-table>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <div flex></div>
    <data-table-pager [dataTable]="dataTable"></data-table-pager>
</mat-dialog-actions>