.w-calendar {
    .fa {
        color: #ffffff;
        margin-left: 5px;
    }

    .cal-event-title {
        text-decoration: none;
    }

    .w-calendar-subtitle {
        font-size: 10px;
    }
}