.w-data-table {

    background-color: #ffffff;
    @include box-shadow();
    
    .w-data-table-filter {
        min-height: 64px;
        padding: 8px 24px 0;

    }

    /**
    Aligns buttons to right
    */
    .mat-cell.cdk-column-_buttons.mat-column-_buttons, .mat-header-cell.cdk-column-_buttons.mat-column-_buttons{
        text-align: right;
    }
}