.w-data-table {

    background-color: #ffffff;
    @include box-shadow();
    
    .w-data-table-filter {
        min-height: 64px;
        padding: 8px 24px 0;

    }

    /**
    Aligns buttons to right
    */
    .mat-cell.cdk-column-_buttons.mat-column-_buttons, .mat-header-cell.cdk-column-_buttons.mat-column-_buttons {
        text-align: right;
    }

    /**
    Max width for avatar column
    */
    .mat-cell.cdk-column-_avatar.mat-column-_avatar, .mat-header-cell.cdk-column-_avatar.mat-column-_avatar {
        max-width: 50px;
    }

    /**
    Avatar for data table
    */
    .w-data-table-avatar-image {
        width: 30px;
        height: 30px;
        @include border-radius(50%);
    }

    .mat-row:hover {
        background-color: yellow;
    }
}