.w-data-list {

    .w-data-list-pager {

        margin-top: 10px;
        margin-bottom: 15px;

        .w-page {
            margin: 0 4px;
            padding: 6px 10px;
            font-size: 13px;
            cursor: pointer;
            color: $primary;
        }

        .w-page-active {
            @extend .w-page;
            @include border-radius(3px); 
            background-color: $primary;
            color: $primary-contrast;
        }

        .w-page-disabled {
            @extend .w-page;
            cursor: not-allowed;
            color: lighten($text-color, 25%);
        }
    }
    
}
    
