.w-data-form {
    /**
    Removes default mat card margin
    */
    .mat-card {
        margin: 0!important;
    }

    .force-caption-font {
        font-size: 12px!important;
    }

    .multiple-choice-item-margin {
        margin-top: 10px!important;
    }
}