.w-data-table-titles {

    .w-data-table-paginator {
        margin-top: 15px;
        background-color: #ffffff;
        @include box-shadow();
    }

    .w-data-table-clickable-tile {
        cursor: pointer;
    }
}

.w-data-table {

    background-color: #ffffff;
    @include box-shadow();
    
    .w-data-table-filter {
        min-height: 64px;
        padding: 8px 24px 0;
    }

    .w-data-table-no-data {
        text-align: center;
        padding-bottom: 30px;
        img {
            height: 55px;
            display: inline-block;
        }
        span {
            margin-top: 10px;
            display: block;
        }

    }

    /**
    Aligns last columns to right (but only if there are more then 1 columns)
    */
    .mat-row .mat-cell:first-of-type:not(:last-of-type) {
        text-align: left;
    }
    .mat-row .mat-cell:last-of-type:not(:first-of-type) {
        text-align: right;
    }

    .mat-header-row .mat-header-cell:first-of-type:not(:last-of-type) {
        text-align: left;
    }
    .mat-header-row .mat-header-cell:last-of-type:not(:first-of-type) {
        text-align: right;

        .mat-sort-header-container {
            justify-content: flex-end; /* applies the flex on the div in case sort header is used */
        }
    }

    /**
    Max width for avatar column
    */
    .mat-cell.cdk-column-_avatar.mat-column-_avatar, .mat-header-cell.cdk-column-_avatar.mat-column-_avatar {
        max-width: 50px;
    }

    /**
    Avatar for data table
    */
    .w-data-table-avatar-image {
        width: 30px;
        height: 30px;
        @include border-radius(50%);
    }

    .w-data-table-clickable {
        .mat-row:hover {
           background: rgba(0, 0, 0, 0.04);
           cursor: pointer;
        }

        /**
        Fixes ripple effect
        */
        .mat-row {
            position: relative;
        }
    }
}