<p>This is dashboard</p>

<h3>
    Current user is authenticated: {{currentUser.isAuthenticated}} - {{currentUser.codename}}
</h3>

<p>
    <button routerLink="/app/auth/logout" type="submit">Logout</button>
</p>

<h2>Single log</h2>

<div *ngIf="log">
    <ul>
        <li>
            id: {{log.id}}
        </li>
        <li>
            message: {{log.errorMessage}}
        </li>
         <li>
            stacktrace: {{log.stacktrace}}
        </li>
        <li>
            user: {{log.user}}
        </li>
    </ul>
</div>

<h2>Logs</h2>
<ul *ngFor="let log of logs">
    <li>
        <strong>{{log.id}} - {{log.errorMessage}}</strong>
        <br>
        {{ log.stacktrace }}
    </li>
</ul>
