<mat-dialog-actions>
    <span class="md-title">{{'webComponents.gallery.deleteImagesDialogTitle' | translate }}</span>
    <span flex></span>
    <close-button (click)="close()"></close-button>
</mat-dialog-actions>

<error-message *ngIf="imageDeletionFailed" title="{{ 'webComponents.gallery.imageDeletionFailed' | translate }}"></error-message>

<ng-template tdLoading [tdLoadingUntil]="!deleteInProgress" tdLoadingStrategy="overlay">
    
<mat-dialog-content>
        <div class="w-gallery-dialog-wrapper">
            <ng-container *ngIf="!groups">
                <mat-list>
                    <mat-list-item *ngFor="let img of group.images; let i = index">
                        <img matListAvatar *ngIf="img.thumb" class="w-gallery-thumb" src="{{img.thumb}}" alt='{{img.description}}' />
                        <img matListAvatar *ngIf="!img.thumb" class="w-gallery-thumb" src="{{img.img}}" alt='{{img.description}}' />
                        <span flex></span>
                        <delete-button (confirm)="onDelete(img)"></delete-button>
                    </mat-list-item>
                </mat-list>
                <div style="clear: both"></div>
            </ng-container>

            <ng-container *ngIf="groups">
                <div *ngFor="let group of groups">
                    <h4>{{group.groupTitle}}</h4>
                    <div *ngFor="let img of group.images; let i = index">
                        <img (click)="onDelete(img)" matListAvatar *ngIf="img.thumb" class="w-gallery-thumb" src="{{img.thumb}}" alt='{{img.description}}'
                        />
                        <img (click)="onDelete(img)" matListAvatar *ngIf="!img.thumb" class="w-gallery-thumb" src="{{img.img}}" alt='{{img.description}}'
                        />
                    </div>
                    <div style="clear: both"></div>
                </div>
            </ng-container>

        </div>
</mat-dialog-content>
</ng-template>
