<ng-container *ngIf="config && initialized">
    <div class="w-gallery-wrapper">

        <ng-container *ngIf="!groups">
            <div *ngFor="let img of images; let i = index">
                <img *ngIf="img.thumb" class="w-gallery-thumb" src="{{img.thumb}}" (click)="openImageModal(img)" alt='{{img.description}}'
                />
                <img *ngIf="!img.thumb" class="w-gallery-thumb" src="{{img.img}}" (click)="openImageModal(img)" alt='{{img.description}}'
                />
            </div>
        </ng-container>

        <ng-container *ngIf="groups">
            <div *ngFor="let group of groups">
                <div>
                <h4>{{group.groupTitle}}</h4>
                <div *ngFor="let img of group.images; let i = index">
                    <img *ngIf="img.thumb" class="w-gallery-thumb" src="{{img.thumb}}" (click)="openImageModal(img)" alt='{{img.description}}'
                    />
                    <img *ngIf="!img.thumb" class="w-gallery-thumb" src="{{img.img}}" (click)="openImageModal(img)" alt='{{img.description}}'
                    />
                </div>
                <div style="clear: both"></div>
            </div>
            </div>
        </ng-container>

        <div *ngIf="openModalWindow">
            <modal-gallery [modalImages]="images" [imagePointer]="imagePointer" (show)="onShowImageModal($event)" (close)="onCloseImageModal($event)"
                [downloadable]="config.downloadable" [buttonsConfig]="buttonsConfig" enableClose="true" enableCloseOutside="true"
                [description]="customFullDescription">
            </modal-gallery>
        </div>
    </div>
</ng-container>