<ng-container *ngIf="config">

    <info-message *ngIf="images && images.length === 0" text="{{ 'webComponents.gallery.noImages' | localize }}"></info-message>
    <error-message *ngIf="imageDeletionFailed" title="{{ 'webComponents.gallery.imageDeletionFailed' | localize }}"></error-message>

    <div class="w-gallery-wrapper">

        <div class="push-bottom">
            <loader [enabled]="localLoaderEnabled && (numberOfLoadedImages !== totalImages)" type="linear"></loader>
        </div>

        <ng-container *ngIf="!groups && images">
            <ks-modal-gallery [modalImages]="images" [plainGalleryConfig]="plainGalleryRow" [downloadable]="config.downloadable" [buttonsConfig]="customButtons"
                (buttonBeforeHook)="onButtonBeforeHook($event)" enableClose="true" enableCloseOutside="true" [description]="customFullDescription">
            </ks-modal-gallery>
        </ng-container>

        <ng-container *ngIf="groups">
            <div *ngFor="let group of groups">
                <h4>{{group.groupTitle}}</h4>
                <ks-modal-gallery *ngIf="group.images" [modalImages]="group.images" [plainGalleryConfig]="plainGalleryRow" [downloadable]="config.downloadable"
                    (buttonBeforeHook)="onButtonBeforeHook($event)" [buttonsConfig]="customButtons" enableClose="true" enableCloseOutside="false"
                    [description]="customFullDescription">
                </ks-modal-gallery>
            </div>
        </ng-container>
    </div>

</ng-container>