<div *ngIf="filtersWrapper && filtersWrapper.length > 0" class="push-bottom-sm">

  <!-- mat-chip-list is not used directly because ':focus' messes up with the search focus when some chip is selected(focused) -->
  <!--
    <mat-chip-list>
    <mat-chip style="cursor: pointer" *ngFor="let filterWrapper of filtersWrapper" selected="false" (click)="runFilter(filterWrapper.resolvedName)" [selected]="filterWrapper.resolvedName === activeFilterName ? true : false">
      {{ filterWrapper.resolvedName }} ({{ filterWrapper.resolvedCount }})
    </mat-chip>
  </mat-chip-list>
  -->

  <div class="mat-chip-list" fxHide.sm="true" fxHide.xs="true">
    <!-- Large layout -->
    <div class="mat-chip-list-wrapper">
      <div tabindex="-1" *ngFor="let filterWrapper of filtersWrapper" [class.mat-chip-selected]="filterWrapper.filter.guid === activeFilterGuid"
        class="w-cursor-pointer w-chip mat-chip mat-primary" (click)="runFilter(filterWrapper.filter.guid)">
        {{ filterWrapper.resolvedName }}&nbsp;
        <span *ngIf="filterWrapper.resolvedCount >= 0">({{ filterWrapper.resolvedCount }})</span>
      </div>
    </div>
  </div>

  <div class="mat-chip-list" fxHide="true" fxHide.sm="false" fxHide.xs="false">
    <!-- Small layout -->
    <div class="mat-chip-list-wrapper">
      <div tabindex="-1" *ngFor="let filterWrapper of showFullFilters ? filtersWrapper : filtersWrapperSmallLayout" [class.mat-chip-selected]="filterWrapper.filter.guid === activeFilterGuid"
        class="w-cursor-pointer w-chip mat-chip mat-primary" (click)="runFilter(filterWrapper.filter.guid)">
        {{ filterWrapper.resolvedName }}&nbsp;
        <span *ngIf="filterWrapper.resolvedCount >= 0">({{ filterWrapper.resolvedCount }})</span>
      </div>
      <div tabindex="-1" *ngIf="filtersWrapper.length > filtersWrapperSmallLayout.length && !showFullFilters" (click)="toggleShowFullFilters()"
        class="w-cursor-pointer w-chip mat-chip">
        <span>+ {{ 'webComponents.dataTable.showMore' | translate }} ({{ filtersWrapper.length - filtersWrapperSmallLayout.length
          }}) ...</span>
      </div>
      <div tabindex="-1" *ngIf="filtersWrapperSmallLayout.length < filtersWrapper.length && showFullFilters" (click)="toggleShowFullFilters()"
        class="w-cursor-pointer w-chip mat-chip">
        <span>{{ 'webComponents.dataTable.showLess' | translate }} ...</span>
      </div>
    </div>
  </div>

</div>

<div class="w-data-table">
  <ng-container *ngIf="config">

    <loader [enabled]="loaderEnabled" type="linear"></loader>

    <error-message *ngIf="errorMessage" [text]="errorMessage"></error-message>

    <div class="w-data-table-filter">
      <mat-form-field floatPlaceholder="never" [ngClass]="config.wrapInCard ? 'text-sm' : ''" flex>
        <input matInput placeholder="{{ 'webComponents.dataTable.searchPlaceholder' | translate }}" [formControl]="searchControl"
          [value]="search" />
        <span matPrefix>
          <mat-icon>search</mat-icon>
        </span>
      </mat-form-field>
    </div>

    <div [class.w-data-table-clickable]="isClickable">

      <div *ngIf="totalItems === 0 && anyDataLoaded" class="w-data-table-no-data">
        <img *ngIf="config.noDataImageUrl" alt="no items found" [src]="config.noDataImageUrl" />
        <span> {{ 'webComponents.dataTable.noData' | translate }} </span>
      </div>

      <!-- Using ngIf to hide data table would reset active sort filters -->
      <div [style.display]="totalItems === 0 ? 'none' : 'block'">
        <mat-table #table [dataSource]="dataSource" matSort>

          <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

          <ng-container *ngFor="let fieldWrapper of fieldsWrapper; let first = first">
            <ng-container [matColumnDef]="fieldWrapper.nameDef">

              <!-- Sortable header -->
              <ng-container *ngIf="fieldWrapper.field.sortKey">
              <mat-header-cell mat-sort-header *matHeaderCellDef fxHide="false" [fxHide.sm]="fieldWrapper.field.hideOnSmallScreen === true"
                [fxHide.xs]="fieldWrapper.field.hideOnSmallScreen === true">
                <ng-container *ngIf="fieldWrapper.field.name(item) as nameResult">
                  <span *ngIf="fieldWrapper.field.isObservable(nameResult)">{{ nameResult| async }}</span>
                  <span *ngIf="!fieldWrapper.field.isObservable(nameResult)">{{ nameResult }}</span>
                </ng-container>
              </mat-header-cell>
            </ng-container>
            
              <!-- Header without sort -->
              <ng-container *ngIf="!fieldWrapper.field.sortKey">
              <mat-header-cell  *matHeaderCellDef fxHide="false" [fxHide.sm]="fieldWrapper.field.hideOnSmallScreen === true"
                [fxHide.xs]="fieldWrapper.field.hideOnSmallScreen === true">
                <ng-container *ngIf="fieldWrapper.field.name(item) as nameResult">
                  <span *ngIf="fieldWrapper.field.isObservable(nameResult)">{{ nameResult| async }}</span>
                  <span *ngIf="!fieldWrapper.field.isObservable(nameResult)">{{ nameResult }}</span>
                </ng-container>
              </mat-header-cell>
            </ng-container>

              <!-- Cell value -->
              <mat-cell *matCellDef="let item" fxHide="false" [fxHide.sm]="fieldWrapper.field.hideOnSmallScreen === true" [fxHide.xs]="fieldWrapper.field.hideOnSmallScreen === true">
                <ng-container *ngIf="fieldWrapper.field.value(item) as valueResult">
                  <span *ngIf="fieldWrapper.field.isObservable(valueResult)">{{ valueResult| async }}</span>
                  <span *ngIf="!fieldWrapper.field.isObservable(valueResult)">{{ valueResult }}</span>
                </ng-container>
              </mat-cell>

            </ng-container>
          </ng-container>

          <ng-container *ngIf="buttonsWrapper">
            <ng-container [matColumnDef]="buttonsWrapper.nameDef">
              <mat-header-cell *matHeaderCellDef>
                {{ 'webComponents.dataTable.actions' | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let item">

                <!-- Regular layout -->
                <div fxHide.sm="true" fxHide.xs="true">
                  <ng-container *ngFor="let button of buttons">
                    <span (click)="handleButtonClick($event, button, item)">
                      <a *ngIf="!button.tooltip" mat-icon-button>
                        <mat-icon>{{button.icon}}</mat-icon>
                      </a>
                      <a *ngIf="button.tooltip" mat-icon-button matTooltip="{{ button.tooltip(item) | async }}">
                        <mat-icon>{{button.icon}}</mat-icon>
                      </a>
                    </span>
                  </ng-container>
                </div>

                <!-- Small layout -->
                <div fxHide="true" fxHide.sm="false" fxHide.xs="false">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngFor="let button of buttons" (click)="handleButtonClick($event, button, item)">
                      <mat-icon>{{ button.icon }}</mat-icon>
                      <span> {{ button.tooltip(item) | async }} </span>
                    </button>
                  </mat-menu>
                </div>

              </mat-cell>
            </ng-container>
          </ng-container>

          <ng-container>
            <ng-container [matColumnDef]="avatarColumnDef">
              <mat-header-cell *matHeaderCellDef>

              </mat-header-cell>
              <mat-cell *matCellDef="let item">
                <ng-container *ngIf="config.avatar(item) as avatar">
                  <img *ngIf="avatar.isImage()" class="w-data-table-avatar-image" alt="avatar" [src]="avatar.imageUrl" />
                  <mat-icon *ngIf="avatar.isIcon()">{{ avatar.icon }}</mat-icon>
                </ng-container>
              </mat-cell>
            </ng-container>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <ng-container *ngIf="isClickable">
            <mat-row matRipple (click)="handleOnClick(item)" *matRowDef="let item; columns: displayedColumns;"></mat-row>
          </ng-container>
          <ng-container *ngIf="!isClickable">
            <mat-row (click)="handleOnClick(item)" *matRowDef="let item; columns: displayedColumns;"></mat-row>
          </ng-container>

        </mat-table>
      </div>

    </div>

  </ng-container>

  <mat-paginator [style.display]="totalItems === 0 ? 'none' : 'block'" #paginator [length]="totalItems" [pageIndex]="paginatorPageIndex"
    [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]">
  </mat-paginator>
</div>