<ng-container *ngIf="config">

  <ng-template tdLoading [tdLoadingUntil]="!localLoaderLoading" tdLoadingStrategy="overlay">

    <ng-container *ngIf="config.wrapInCard">
      <div *ngIf="hasFilters" class="push" flex="95">
        <!-- Flex is used so that chips don't jump to second row because of overflow (happens if there are many chips & items in data table cause vertical scroller to appear) -->
        <data-table-layout-filters [filters]="filters" [activeFilterGuid]="activeFilterGuid" (activateFilter)="applyFilter($event)"></data-table-layout-filters>
      </div>
      <md-card *ngIf="config.wrapInCard" class="push">
        <md-card-title layout>
          <data-table-layout-search *ngIf="config.showSearch" [config]="config" [searchTerm]="searchTerm" (search)="handleSearch($event)"></data-table-layout-search>
        </md-card-title>
        <data-table-layout-items [config]="config" [items]="items"></data-table-layout-items>
        <md-card-actions>
          <data-table-layout-pager [pagerConfig]="config.pagerConfig" [totalPages]="totalPages" [currentPage]="currentPage" (goToPage)="filterItems($event)"></data-table-layout-pager>
        </md-card-actions>
      </md-card>
    </ng-container>

    <ng-container *ngIf="!config.wrapInCard">
      <div *ngIf="hasFilters" class="push-bottom" flex="95">
        <!-- Flex is used so that chips don't jump to second row because of overflow (happens if there are many chips & items in data table cause vertical scroller to appear) -->
        <data-table-layout-filters [filters]="filters" [activeFilterGuid]="activeFilterGuid" (activateFilter)="applyFilter($event)"></data-table-layout-filters>
      </div>
      <div layout>
        <data-table-layout-search *ngIf="config.showSearch" [config]="config" [searchTerm]="searchTerm" (search)="handleSearch($event)"></data-table-layout-search>
      </div>
      <data-table-layout-items [config]="config" [items]="items"></data-table-layout-items>
      <md-card-actions>
        <data-table-layout-pager [pagerConfig]="config.pagerConfig" [totalPages]="totalPages" [currentPage]="currentPage" (goToPage)="filterItems($event)"></data-table-layout-pager>
      </md-card-actions>
    </ng-container>

  </ng-template>

</ng-container>