<ng-container *ngIf="config">
    <div class="w-calendar">
        <mat-card>
            <loader [enabled]="loaderEnabled"></loader>

            <mat-card-content>

                <div *ngIf="errorMessage" class="push-bottom-sm">
                    <error-message [text]="errorMessage"></error-message>
                </div>

                <div>
                    <!-- Large screen -->
                    <div *ngIf="!forceShowFullCalendar">
                        <!-- Monthly view -->
                        <div fxHide.sm="true" fxHide.xs="true">
                            <div fxLayout>
                                <button mat-icon-button color="primary" mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="largeScreenActiveView" (viewDateChange)="changeDate($event)">
                                    <mat-icon>keyboard_arrow_left</mat-icon>
                                </button>

                                <button mat-button mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="changeDate($event)">
                                    <ng-container *ngIf="largeScreenActiveView === 'day'">{{ getDayDate(viewDate) }}</ng-container>
                                    <ng-container *ngIf="largeScreenActiveView === 'month'">{{ getMonthDate(viewDate) }}</ng-container>
                                </button>

                                <button mat-icon-button color="primary" mwlCalendarNextView [(viewDate)]="viewDate" [view]="largeScreenActiveView" (viewDateChange)="changeDate($event)">
                                    <mat-icon>keyboard_arrow_right</mat-icon>
                                </button>

                                <span flex></span>

                                <add-button tooltip="{{'webComponents.calendar.insertEventTooltip' | localize }}" (click)="openSelectAttendeeDialog()"></add-button>
                            </div>
                        </div>

                        <!-- Mobile view -->
                        <!-- Day view -->
                        <div fxHide="true" fxHide.sm="false" fxHide.xs="false">
                            <div fxLayout>
                                <button (click)="openSelectAttendeeDialog()" mat-button color="primary">{{'webComponents.calendar.insertEventTooltip' | localize }}</button>
                            </div>
                            <div fxLayout>
                                <button mat-button mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="changeDate($event)">
                                    <ng-container>{{ getDayDate(viewDate) }}</ng-container>
                                </button>

                                <span flex></span>

                                <button mat-icon-button color="primary" mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="'day'" (viewDateChange)="changeDate($event)">
                                    <mat-icon>keyboard_arrow_left</mat-icon>
                                </button>

                                <button mat-icon-button color="primary" mwlCalendarNextView [(viewDate)]="viewDate" [view]="'day'" (viewDateChange)="changeDate($event)">
                                    <mat-icon>keyboard_arrow_right</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Monthly view on mobile -->
                    <div *ngIf="forceShowFullCalendar">
                        <div fxLayout>
                            <button mat-icon-button color="primary" mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="'month'" (viewDateChange)="changeDate($event)">
                                <mat-icon>keyboard_arrow_left</mat-icon>
                            </button>

                            <button mat-button mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="changeDate($event)">
                                <ng-container>{{ getMonthDate(viewDate) }}</ng-container>
                            </button>

                            <button mat-icon-button color="primary" mwlCalendarNextView [(viewDate)]="viewDate" [view]="'month'" (viewDateChange)="changeDate($event)">
                                <mat-icon>keyboard_arrow_right</mat-icon>
                            </button>

                            <span flex></span>

                            <add-button tooltip="{{'webComponents.calendar.insertEventTooltip' | localize }}" (click)="openSelectAttendeeDialog()"></add-button>
                        </div>
                    </div>
                </div>

                <!-- Calendar -->

                <div *ngIf="!forceShowFullCalendar">
                    <!-- Using ngIf="events" here caused calendar to not show randomly -->

                    <!-- Large layout -->
                    <div [ngSwitch]="largeScreenActiveView">
                        <div fxHide.sm="true" fxHide.xs="true">
                            <mwl-calendar-month-view *ngSwitchCase="'month'" [locale]="config.locale" [refresh]="calendarRefresh" [viewDate]="viewDate"
                                [events]="events" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="eventClicked($event.event)">
                            </mwl-calendar-month-view>
                            <mwl-calendar-day-view *ngSwitchCase="'day'" [locale]="config.locale" [refresh]="calendarRefresh" [viewDate]="viewDate" [events]="events"
                                (eventClicked)="eventClicked($event.event)">
                            </mwl-calendar-day-view>
                        </div>

                        <div class="push-top-sm" fxHide.sm="true" fxHide.xs="true">
                            <button *ngIf="largeScreenActiveView === 'day'" mat-button color="primary" (click)="largeScreenActiveView = 'month'">
                                {{ 'webComponents.calendar.showFullCalendar' | localize }}
                            </button>
                            <button *ngIf="largeScreenActiveView === 'month'" mat-button color="primary" (click)="largeScreenActiveView = 'day'">
                                {{ 'webComponents.calendar.showDayCalendar' | localize }}
                            </button>
                        </div>
                    </div>

                    <!-- Mobile layout -->
                    <div fxHide="true" fxHide.sm="false" fxHide.xs="false">
                        <mwl-calendar-day-view [locale]="config.locale" [refresh]="calendarRefresh" [viewDate]="viewDate" [events]="events" (eventClicked)="eventClicked($event.event)">
                        </mwl-calendar-day-view>

                        <div class="push-top-sm">
                            <button mat-button color="primary" (click)="forceShowFullCalendar = true">{{ 'webComponents.calendar.showFullCalendar' | localize }}</button>
                        </div>
                    </div>
                </div>

                <div *ngIf="forceShowFullCalendar">
                    <!-- Large layout -->
                    <div>
                        <mwl-calendar-month-view [locale]="config.locale" [refresh]="calendarRefresh" [viewDate]="viewDate" [events]="events" [activeDayIsOpen]="activeDayIsOpen"
                            (dayClicked)="dayClicked($event.day)" (eventClicked)="eventClicked($event.event)">
                        </mwl-calendar-month-view>

                        <div class="push-top-sm">
                            <button mat-button color="primary" (click)="forceShowFullCalendar = false">{{ 'webComponents.calendar.showMobileCalendar' | localize }}</button>
                        </div>
                    </div>
                </div>

            </mat-card-content>
        </mat-card>
    </div>

</ng-container>