<ng-container *ngIf="config">
    <div class="w-boxes w-boxes-number-box">
        <mat-card [ngClass]="[getClassName()]">
            <mat-card-content>
                <div class="text-center mat-title">
                    <count-up *ngIf="config.animate" [endVal]="config.number | async" [startVal]="config.startNumber"></count-up>
                    <span *ngIf="!config.animate">{{ config.number | async }}</span>
                </div>
                <div class="text-center mat-body-1 text-truncate">
                    {{ config.text | async }}
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</ng-container>