
    /** 
    Note: in order for overrides to work, this css should be loaded after the material's css
    **/

    .mat-chip{
        margin-top: 5px!important;
    }
    
    .mat-chip:not(.mat-basic-chip) {
         /* changes color of material chips because otherwise
        they have same color as the background */
        background: #C9C9C9;
    }
    
    .mat-chip.w-cursor-pointer{
       cursor: pointer!important;
    }

    /**
    This is a fix for angular material issue where the sidenav is always visible if some child elements trigger Fullscreen
    More info at: https://github.com/angular/material2/issues/7636
    Revisit later to see if this is fixed and this can be removed.
    **/
    .mat-drawer.mat-drawer-side {
        z-index: -2!important;
    }


