
/** 
Note: in order for overrides to work, this css should be loaded after the material's css
**/

/**
Chips
*/

.mat-chip{
	 margin-top: 5px!important;
}
    
.mat-chip:not(.mat-basic-chip) {
	/* changes color of material chips because otherwise
    they have same color as the background */
    background: #C9C9C9;
}
    
.mat-chip.w-cursor-pointer{
	cursor: pointer!important;
}

/** 
Lists
*/

.mat-list-item {
	font-size: 14px!important;
}

/**
Material card should have no default margin, margin is set with page wrapper or manually
*/

.mat-card {
	margin: 0!important;
}


