<mat-card *ngIf="diet">
  <mat-card-title>{{diet.dietName}}</mat-card-title>
  <mat-card-subtitle>{{ 'module.dietCategories.categories.' + diet.dietCategory.codename | localize}}</mat-card-subtitle>
  <mat-card-content *ngIf="diet.description">
    {{diet.description}}
  </mat-card-content>
</mat-card>

<div *ngIf="diet" class="push-top">
  <button mat-raised-button color="primary" class="text-upper" (click)="openSelectFoodDialog(false)">{{'module.diets.addDietFood' | localize }}</button>
  <button mat-raised-button color="primary" class="text-upper" (click)="openSelectFoodDialog(true)">{{'module.diets.addDietDish' | localize }}</button>
  <div *ngIf="sortedDietFoods">

    <div *ngIf="sortedDietFoods">
      <mat-list [dragula]='"dragula-bag"' class="push-top" [dragulaModel]="sortedDietFoods">
        <ng-container *ngFor="let dietFood of sortedDietFoods; let i = index">
          <mat-list-item class="w-sort-list-item dragula-move-handle">
            <span class="tc-red-700">{{i + 1}}.</span>
            <span class="text-truncate push-left-sm">{{dietFood.food.foodName}}</span>
            <span flex></span>
            <span class="mat-caption">&nbsp;( <plural-food-units [count]="dietFood.amount" [unitCode]="dietFood.food.foodUnit.unitCode"></plural-food-units>)</span>
            <edit-button color="none" (editAction)="openDietFoodDialog(dietFood)"></edit-button>
            <delete-button [enableConfirm]="true" color="none" (confirm)="deleteDietFood(dietFood)"></delete-button>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </div>

    <div *ngIf="sortedDietFoods && sortedDietFoods.length > 5" class="push-top">
      <button mat-raised-button color="primary" class="text-upper" (click)="openSelectFoodDialog(false)">{{'module.diets.addDietFood' | localize }}</button>
      <button mat-raised-button color="primary" class="text-upper" (click)="openSelectFoodDialog(true)">{{'module.diets.addDietDish' | localize }}</button>
    </div>
  </div>
</div>