<!--<md-card class="mat-card">
  <md-card-content class="mat-card-content">
      <table td-data-table>
  <th td-data-table-column>
    Comments
  </th>
  <th td-data-table-column
      *ngFor="let column of columns"
      [numeric]="column.numeric">
    {{column.label}}
  </th>
  <tr td-data-table-row *ngFor="let row of basicData">
    <td td-data-table-cell (click)="openPrompt(row, 'comments')">
      <button md-button [class.mat-accent]="!row['comments']">{{row['comments'] || 'Add Comment'}}</button>
    </td>
    <td td-data-table-cell *ngFor="let column of columns" [numeric]="column.numeric">
      {{column.format ? column.format(row[column.name]) : row[column.name]}}
    </td>
  </tr>
</table>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <button md-raised-button color="accent" routerLink="/client/clients/new">Nový klient</button>
  </md-card-actions>
</md-card>
-->

<data-table [items]="clients" [fields]="fields" [config]="config"></data-table>

<md-card tdmediatoggle="gt-xs" class="push">
  <td-search-box class="push-left push-right" placeholder="search" [alwaysVisible]="true"></td-search-box>
  <md-divider></md-divider>
  <md-nav-list role="list">
    <md-list-item disableRipple="true" class="tc-grey-500">
      <span flex>
          Klient
      </span>
      <span flex="25" class="text-right">
          Poslední přihlášení
      </span>
    </md-list-item>
    <div *ngFor="let client of clients">
      <md-divider></md-divider>
      <md-list-item [routerLink]="['/client/clients/view', 4]">
        <span flex>
        {{client.getFullName()}}
      </span>
        <span flex="25" class="text-right md-caption tc-grey-500">
         dd
      </span>
      </md-list-item>
    </div>
    <div *ngIf="clients != null && clients.length == 0" layout="row" layout-align="center">
      <h3>No results here</h3>
    </div>
  </md-nav-list>
</md-card>

<fixed-button url="/client/clients/new"></fixed-button>