<!--<md-card class="mat-card">
  <md-card-content class="mat-card-content">
      <table td-data-table>
  <th td-data-table-column>
    Comments
  </th>
  <th td-data-table-column
      *ngFor="let column of columns"
      [numeric]="column.numeric">
    {{column.label}}
  </th>
  <tr td-data-table-row *ngFor="let row of basicData">
    <td td-data-table-cell (click)="openPrompt(row, 'comments')">
      <button md-button [class.mat-accent]="!row['comments']">{{row['comments'] || 'Add Comment'}}</button>
    </td>
    <td td-data-table-cell *ngFor="let column of columns" [numeric]="column.numeric">
      {{column.format ? column.format(row[column.name]) : row[column.name]}}
    </td>
  </tr>
</table>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <button md-raised-button color="accent" routerLink="/client/clients/new">Nový klient</button>
  </md-card-actions>
</md-card>
-->

<md-card tdmediatoggle="gt-xs" class="mat-card">
  <td-search-box class="push-left push-right" placeholder="search" [alwaysVisible]="true" ></td-search-box>
  <md-divider></md-divider>
  <md-list role="list" class="">
    <md-list-item class="tc-grey-500">
      <span flex>
          Klient
      </span>
      <span flex="25">
          Poslední přihlášení
      </span>
      <span flex="20" class="text-center">
          Akce
      </span>
    </md-list-item>
    <md-list-item *ngFor="let client of clients">
      <span flex>
        {{client.getFullName()}}
      </span>
      <span flex="25">
        poslední přihlášení
      </span>
      <span flex="20" class="text-center">
        <button md-icon-button>
          <md-icon>more_vert</md-icon>
        </button>
      </span>
    </md-list-item>
  </md-list>
</md-card>

