/* ----------------------- Colors ---------------------- */

.primary {
    color: $primary;
}

.primary-contrast {
    color: $primary-contrast;
}

.accent {
    color: $accent;
}

.accent-contrast {
    color: $accent-contrast;
}


 
    
    
    
    
    
 
    
 
    