<div class="container" fxLayout fxLayout.sm="column" class="push">
    <div fxFlex="50%">
        <mat-card>
            <mat-card-content class="push-top">
                <h3>{{'module.clients.progress.newProgressItemRecord' | translate}}</h3>
                <dynamic-form #progressItemForm *ngIf="progressItemTypes && progressItemTypes.length > 0" [config]="formConfig"></dynamic-form>
                <info-message *ngIf="progressItemTypes && progressItemTypes.length === 0" title="{{ 'module.clients.progress.addProgressTypeFirst' | translate }}"></info-message>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="50%">
        <mat-card>
            <mat-card-content>
                <button mat-raised-button color="primary" (click)="openSelectTypeDialog()">{{'module.clients.progress.assignProgressItemType' | translate}}</button>
                <button mat-button class="push-left" (click)="openAddNewProgressItemTypeDialog()">{{'module.clients.progress.newProgressItemType' | translate}}</button>

                <div class="push-top">
                    <mat-chip-list selectable="false">
                        <mat-chip *ngFor="let progressItemType of progressItemTypes">
                            <ng-container *ngIf="progressItemType.translateValue">
                                {{'module.progressItemTypes.globalTypes.' + progressItemType.codename | translate}}
                            </ng-container>
                            <ng-container *ngIf="!progressItemType.translateValue">
                                {{progressItemType.typeName}}
                            </ng-container>
                            &nbsp;
                            <delete-button mode="simple" (confirm)="handleDeleteType(progressItemType)"></delete-button>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<data-table #progressItemsDataTable [config]="dataTableConfig"></data-table>