<!-- Nav list with link -->
<mat-nav-list *ngIf="isClickable" role="list" class="pad-top-none">
    <data-table-layout-header [config]="config"></data-table-layout-header>
    <div *ngFor="let item of items; let i=index">
        <mat-divider *ngIf="i !== 0"></mat-divider>
        <mat-list-item (click)="onItemClick(item)">
            <mat-checkbox *ngIf="isSelectable" class="push-right" (change)="handleCheckboxChange($event, item)"></mat-checkbox>
            <img *ngIf="config.avatarUrlResolver" mat-list-avatar src="{{getAvatarUrl(item)}}" alt="" class="push-right">
            <mat-icon *ngIf="config.iconResolver" mat-list-icon>{{getIcon(item)}}</mat-icon>
            <span hideOnMobile [enabled]="field.hideOnSmallScreens" *ngFor="let field of config.fields" flex="field.flex" class="{{getTextAlignClass(field)}}">
                <span [class.md-caption]="field.isSubtle" [class.tc-grey-500]="field.isSubtle">
                    <data-table-layout-field [item]="item" [field]="field"></data-table-layout-field>
                </span>
            </span>
        </mat-list-item>
    </div>
    <div *ngIf="!localLoaderLoading && items && items.length === 0" layout="row" layout-align="center">
        <div *ngIf="!localLoaderLoading && items && items.length === 0 && searchTerm" layout="row" layout-align="center">
            <h3>{{config.searchNoItemsTextKey | translate}}</h3>
        </div>
        <div *ngIf="!localLoaderLoading && items && items.length === 0 && !searchTerm" layout="row" layout-align="center">
            <h3>{{config.noItemsTextKey | translate}}</h3>
        </div>
    </div>
</mat-nav-list>

<!-- Nav list without link -->
<mat-list *ngIf="!isClickable" role="list" class="pad-top-none">
    <data-table-layout-header [config]="config"></data-table-layout-header>
    <div *ngFor="let item of items; let i=index">
        <mat-divider *ngIf="i !== 0"></mat-divider>
        <mat-list-item>
            <mat-checkbox *ngIf="isSelectable" class="push-right" (change)="handleCheckboxChange($event, item)"></mat-checkbox>
            <img *ngIf="config.avatarUrlResolver" mat-list-avatar src="{{getAvatarUrl(item)}}" alt="" class="push-right">
            <mat-icon *ngIf="config.iconResolver" mat-list-icon>{{getIcon(item)}}</mat-icon>
            <span hideOnMobile [enabled]="field.hideOnSmallScreens" *ngFor="let field of config.fields" flex="field.flex" class="{{getTextAlignClass(field)}}">
                <span [class.md-caption]="field.isSubtle" [class.tc-grey-500]="field.isSubtle">
                    <data-table-layout-field [item]="item" [field]="field"></data-table-layout-field>
                </span>
            </span>
        </mat-list-item>
    </div>
    <div *ngIf="!localLoaderLoading && items && items.length === 0 && searchTerm" layout="row" layout-align="center">
        <h3>{{config.searchNoItemsTextKey | translate}}</h3>
    </div>
    <div *ngIf="!localLoaderLoading && items && items.length === 0 && !searchTerm" layout="row" layout-align="center">
        <h3>{{config.noItemsTextKey | translate}}</h3>
    </div>
</mat-list>