<div *ngIf="pagerConfig && pagerConfig.showPager && !(pagerConfig.hidePagerForSinglePage && totalPages == 1)">
    <button hideOnMobile *ngIf="pagerConfig.showPagerFirstLastButtons" [disabled]="!hasPreviousPage()" mat-button (click)="onGoToPage(1)"><<</button>
    <button *ngIf="pagerConfig.showPagerNextPreviousButtons" [disabled]="!hasPreviousPage()" mat-button (click)="onGoToPreviousPage()"><</button>
     <span hideOnMobile *ngFor="let button of pagerButtons">
      <button *ngIf="pagerConfig.showPagerNumberButtons && !button.isActive" mat-button (click)="onGoToPage(button.page)">{{button.page}}</button>
      <button *ngIf="pagerConfig.showPagerNumberButtons && button.isActive" mat-raised-button color="primary" (click)="onGoToPage(button.page)">{{button.page}}</button>
    </span>
    <button *ngIf="pagerConfig.showPagerNextPreviousButtons" [disabled]="!hasNextPage()" mat-button (click)="onGoToNextPage()">></button>
    <button hideOnMobile *ngIf="pagerConfig.showPagerFirstLastButtons" [disabled]="!hasNextPage()" mat-button (click)="onGoToPage(totalPages)">>></button>
</div>