<md-card *ngIf="workout" class="push">
  <md-card-title>{{workout.workoutName}}</md-card-title>
  <md-card-subtitle>{{workout.workoutCategory.categoryName}}</md-card-subtitle>
  <md-card-content *ngIf="workout.description">
    {{workout.description}}
  </md-card-content>
  <md-divider></md-divider>
  <md-card-content *ngIf="sortedWorkoutExercises">
    <md-card-actions>
      <button md-button color="primary" class="text-upper" (click)="openSelecExerciseDialog()">{{'module.workouts.addExercise' | translate }}</button>
    </md-card-actions>
    <md-list [dragula]='"dragula-bag"' [dragulaModel]="sortedWorkoutExercises">
      <ng-container *ngFor="let workoutExercise of sortedWorkoutExercises; let i = index">
        <td-expansion-panel class="push-left push-right push-bottom" [disableRipple]="false">
          <ng-template td-expansion-panel-header>
            <md-list-item style="background:whitesmoke">
              <span class="dragula-move-handle w-cursor-move md-headline tc-blue-600">
                +&nbsp;
              </span>
              <span class="dragula-move-handle w-cursor-move tc-red-700">{{i + 1}}. &nbsp;</span>
              <span>{{workoutExercise.exercise.exerciseName}}</span>
              <span flex></span>
              <edit-button color="none" (click)=openWorkoutExerciseDialog(workoutExercise)></edit-button>
              <delete-button color="none" (confirm)=deleteWorkoutExercise(workoutExercise)></delete-button>
            </md-list-item>
          </ng-template>

          <div class="md-caption push">
            <span>
                {{'module.workouts.sets' | translate }}: <strong>{{workoutExercise.sets}}</strong> | {{'module.workouts.reps' | translate }}: <strong>{{workoutExercise.reps}}</strong>
            </span> 

              <p *ngIf="workoutExercise.notes">
                {{ workoutExercise.notes }}
            </p>
            <p *ngIf="!workoutExercise.notes">
              <em>{{'module.workouts.exerciseHasNoNotes' | translate}}</em>
            </p>
          </div>

          </td-expansion-panel>
      </ng-container>
    </md-list>
  </md-card-content>
  <md-card-actions *ngIf="sortedWorkoutExercises && sortedWorkoutExercises.length > 5">
    <button md-button color="primary" class="text-upper" (click)="openSelecExerciseDialog()">{{'module.workouts.addExercise' | translate }}</button>
  </md-card-actions>
</md-card>