<ng-container *ngIf="location">
    <div fxLayout="row">
        <div fxFlex fxLayout="column">
            <title-1>{{ location.locationName }}</title-1>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex fxLayout="column">
            <web-table>
                <web-table-line name="{{ 'module.locations.locationType' | localize }}" value="{{ 'module.locations.type.' + location.locationTypeAsString | localize}}"></web-table-line>
                <web-table-line name="{{ 'module.locations.address' | localize }}" value="{{ location.address }}"></web-table-line>
                <web-table-line *ngIf="location.lng && location.lat" name="{{ 'module.locations.lng' | localize }}" value="{{ location.lng }}"></web-table-line>
                <web-table-line *ngIf="location.lng && location.lat" name="{{ 'module.locations.lat' | localize }}" value="{{ location.lat }}"></web-table-line>
            </web-table>
        </div>
    </div>
    <div fxLayout="row" class="push-top">
        <div fxFlex fxLayout="column">
            <map [apiKey]="googleApiKey" [address]="location.address" [lat]="location.lat" [lng]="location.lng"></map>
        </div>
    </div>
</ng-container>
