<div *ngIf="location" class="container" fxLayout fxLayout.sm="column" fxLayout.xs="column" class="push">
    <div fxFlex="40%">
        <mat-card>
            <mat-card-content>
                <p class="md-headline">
                    {{ location.locationName }}
                </p>
                <p class="md-caption">
                    {{ 'module.locations.type.' + location.locationTypeAsString | localize }}
                </p>
                <p>
                    <span class="md-caption">{{ 'module.locations.address' | localize }}: </span> {{ location.address }}
                </p>
                <p>
                    <span class="md-caption">{{ 'module.locations.lat' | localize }}: </span> {{ location.lat }}
                </p>
                <p>
                    <span class="md-caption">{{ 'module.locations.lng' | localize }}: </span> {{ location.lng }}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="60%">
        <mat-card>
            <mat-card-content>
                <map [apiKey]="googleApiKey" [address]="location.address" [lat]="location.lat" [lng]="location.lng"></map>
            </mat-card-content>
        </mat-card>
    </div>
</div>