<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayout.md="column">
    <div fxLayout="column" fxFlex="50%" class="push-sm">
        <div fxLayout="column">
            <h1 *ngIf="food" class="mat-headline">
                {{ food.foodName }}
            </h1>

            <div fxLayoutWrap fxLayoutAlign="space-between start" fxLayout="row">
                <div fxFlex="18%" fxFlex.sm="30%" fxFlex.xs="30%" fxLayout="column" class="push-bottom-md">
                    <div class="w-full-width">
                        <number-box [config]="protMiniBox"></number-box>
                    </div>
                </div>
                <div fxFlex="18%" fxFlex.sm="30%" fxFlex.xs="30%" fxLayout="column" class="push-bottom-md">
                    <div class="w-full-width">
                        <number-box [config]="fatMiniBox"></number-box>
                    </div>
                </div>
                <div fxFlex="18%" fxFlex.sm="30%" fxFlex.xs="30%" fxLayout="column" class="push-bottom-md">
                    <div class="w-full-width">
                        <number-box [config]="choMiniBox"></number-box>
                    </div>
                </div>
                <div fxFlex="18%" fxFlex.sm="30%" fxFlex.xs="30%" fxLayout="column" class="push-bottom-md">
                    <div class="w-full-width">
                        <number-box [config]="sugarMiniBox"></number-box>
                    </div>
                </div>
                <div fxFlex="18%" fxFlex.sm="30%" fxFlex.xs="30%" fxLayout="column" class="push-bottom-md">
                    <div class="w-full-width">
                        <number-box [config]="naclMiniBox"></number-box>
                    </div>
                </div>
            </div>
        </div>

        <div fxLayout="column" class="push-top">
            <table-box [config]="mealFoodsBox"></table-box>
        </div>

        <div fxLayout="column" class="push-top">
            <graph #graph [config]="foodGraph"></graph>
        </div>
    </div>

    <div fxLayout="column" fxFlex="50%" class="push-sm">
        <data-table [config]="usedInMealsDataTable"></data-table>
    </div>
</div>