<mat-dialog-actions>
    <span class="mat-title"> {{'webComponents.calendar.selectAttendee' | localize}}</span>
    <span flex></span>
    <close-button (click)="close()"></close-button>
</mat-dialog-actions>

<mat-dialog-content>
    <div class="push-top push-bottom">
        <data-table #dataTable [config]="dataTableConfig"></data-table>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <div flex></div>
    <data-table-pager [dataTable]="dataTable"></data-table-pager>
</mat-dialog-actions>