<ng-container *ngIf="config">
  <div class="w-uploader">

    <ng-container *ngIf="config.mode === 0">
      <div  [class.upload-drag-over]="isDraggedOver" tdFileDrop (fileDrop)="handleUploadSingle($event)" single class="upload-box"
        (dragenter)="dragEnter($event)" (dragleave)="dragLeave($event)" (drop)="drop($event)">
        <div #tdButtoWrapper class="upload-text">
          <td-file-upload #fileUpload defaultColor="primary" activeColor="primary" cancelColor="warn" (select)="handleUploadSingle($event)"
            (upload)="handleUploadSingle($event)" (cancel)="cancelEvent()" [accept]="acceptedExtensionsString" [disabled]="disabled">
            <mat-icon>file_upload</mat-icon>
            <span>{{ fileUpload.files?.name }}</span>
            <ng-template td-file-input-label>
              <mat-icon>attach_file</mat-icon>
              <span>{{ 'webComponents.uploader.chooseAFile' | localize}}</span>
            </ng-template>
          </td-file-upload>
          {{ 'webComponents.uploader.orDropFileHere' | localize }}
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="config.mode === 1">
      <div [class.upload-drag-over]="isDraggedOver" tdFileDrop (fileDrop)="handleUploadMultiple($event)" multiple class="upload-box"
        (dragenter)="dragEnter($event)" (dragleave)="dragLeave($event)" (drop)="drop($event)">
        <div #tdButtoWrapper class="upload-text">
          <td-file-upload #fileUpload defaultColor="primary" activeColor="primary" cancelColor="warn" (select)="handleUploadMultiple($event)"
          (dragenter)="dragEnter($event)" (upload)="handleUploadMultiple($event)" (cancel)="cancelEvent()" [accept]="acceptedExtensionsString" [disabled]="disabled"
            multiple>
            <mat-icon>file_upload</mat-icon>
            <span>{{ fileUpload.files?.name }}</span>
            <ng-template td-file-input-label>
              <mat-icon>attach_file</mat-icon>
              <span>{{ 'webComponents.uploader.chooseFiles' | localize:maxFilesParam }}</span>
            </ng-template>
          </td-file-upload>
          {{ 'webComponents.uploader.orDropFilesHere' | localize }}
        </div>
      </div>
    </ng-container>

    <div class="push-bottom push-top" *ngIf="noFilesSelected || uploadSuccessful || uploadFailed || extensionNotAllowed">
      <info-message *ngIf="noFilesSelected" title="{{ 'webComponents.uploader.noFilesSelected' | localize }}"></info-message>
      <error-message *ngIf="uploadFailed" title="{{ 'webComponents.uploader.uploadFailed' | localize }}"></error-message>
      <error-message *ngIf="extensionNotAllowed" title="{{ 'webComponents.uploader.extensionNotAllowed' | localize:extensionsNotAllowedParam }}"></error-message>
    </div>

    <loader [enabled]="loaderEnabled" type="linear" class="push-bottom-sm"></loader>
    <div class="push-top-sm">&nbsp;</div>

  </div>
</ng-container>