<ng-container *ngIf="config">

  <div class="push-bottom" *ngIf="noFilesSelected || uploadSuccessful || uploadFailed || extensionNotAllowed">
    <info-message *ngIf="noFilesSelected" title="{{ 'webComponents.uploader.noFilesSelected' | translate }}"></info-message>
    <error-message *ngIf="uploadFailed" title="{{ 'webComponents.uploader.uploadFailed' | translate }}"></error-message>
    <error-message *ngIf="extensionNotAllowed" title="{{ 'webComponents.uploader.extensionNotAllowed' | translate:extensionsNotAllowedParam }}"></error-message>
  </div>

  <ng-container *ngIf="config.mode === 0">
    <td-file-upload #fileUpload defaultColor="primary" activeColor="primary" cancelColor="warn" (select)="selectEvent($event)"
      (upload)="uploadSingle($event)" (cancel)="cancelEvent()" [accept]="acceptedExtensionsString" [disabled]="disabled">
      <mat-icon>file_upload</mat-icon><span>{{ fileUpload.files?.name }}</span>
      <ng-template td-file-input-label>
        <mat-icon>attach_file</mat-icon><span>{{ 'webComponents.uploader.chooseAFile' | translate}}</span>
      </ng-template>
    </td-file-upload>
  </ng-container>

  <ng-container *ngIf="config.mode === 1">
    <td-file-upload #fileUpload defaultColor="primary" activeColor="primary" cancelColor="warn" (select)="selectEvent($event)"
      (upload)="uploadMultiple($event)" (cancel)="cancelEvent()" [accept]="acceptedExtensionsString" [disabled]="disabled"
      multiple>
      <mat-icon>file_upload</mat-icon><span>{{ fileUpload.files?.name }}</span>
      <ng-template td-file-input-label>
        <mat-icon>attach_file</mat-icon><span translate [translateParams]="{maxFiles: maxFiles}">webComponents.uploader.chooseFiles</span>
      </ng-template>
    </td-file-upload>
  </ng-container>

</ng-container>