<ng-container *ngIf="config">

  <div class="w-data-list">

    <ng-container *ngIf="config.wrapInCard">
      <div *ngIf="hasFilters" class="push" flex="95">
        <!-- Flex is used so that chips don't jump to second row because of overflow (happens if there are many chips & items in data list cause vertical scroller to appear) -->
        <data-list-layout-filters [filters]="filters" [activeFilterGuid]="activeFilterGuid" (activateFilter)="applyFilter($event)"></data-list-layout-filters>
      </div>
      <mat-card *ngIf="config.wrapInCard" class="push">
        <loader [enabled]="localLoaderLoading" type="linear">
          <mat-card-title layout>
            <data-list-layout-search #searchInput *ngIf="config.showSearch" [config]="config" [searchTerm]="searchTerm" (search)="handleSearch($event)"></data-list-layout-search>
          </mat-card-title>
          <data-list-layout-items [config]="config" [items]="items" [localLoaderLoading]="localLoaderLoading"></data-list-layout-items>
          <mat-card-actions>
            <data-list-layout-pager [pagerConfig]="config.pagerConfig" [totalPages]="totalPages" [currentPage]="currentPage" (goToPage)="filterItems($event)"></data-list-layout-pager>
          </mat-card-actions>
        </loader>
      </mat-card>
    </ng-container>

    <ng-container *ngIf="!config.wrapInCard">
      <loader [enabled]="localLoaderLoading" type="linear">
        <div *ngIf="hasFilters" class="push-bottom pad-top-sm" flex="95">
          <!-- Flex is used so that chips don't jump to second row because of overflow (happens if there are many chips & items in data list cause vertical scroller to appear) -->
          <data-list-layout-filters [filters]="filters" [activeFilterGuid]="activeFilterGuid" (activateFilter)="applyFilter($event)"></data-list-layout-filters>
        </div>
        <div layout>
          <data-list-layout-search #searchInput *ngIf="config.showSearch" [config]="config" [searchTerm]="searchTerm" (search)="handleSearch($event)"></data-list-layout-search>
        </div>
        <data-list-layout-items [config]="config" [items]="items" [localLoaderLoading]="localLoaderLoading"></data-list-layout-items>
        <mat-card-actions>
          <data-list-layout-pager [pagerConfig]="config.pagerConfig" [totalPages]="totalPages" [currentPage]="currentPage" (goToPage)="filterItems($event)"></data-list-layout-pager>
        </mat-card-actions>
      </loader>
    </ng-container>

  </div>

</ng-container>