<ng-container *ngIf="config">
    <div [ngClass]="{'w-box-background': config.wrapInCard, 'pad': config.wrapInCard, 'push': config.wrapInCard}">
        <loader [enabled]="loaderEnabled"></loader>
        <div class="w-boxes w-boxes-info-box">

            <div *ngIf="config.title" fxLayoutAlign=" center" fxLayout="row">
                <div fxFlex fxLayout="column" [class]="config.titleAlign">
                    <span class="mat-title primary">
                        {{ config.title | async }}
                    </span>
                </div>
                <div *ngIf="config.actions && config.actions.length > 0" fxLayout="column">
                    <button class="w-boxes-icon-fix" mat-icon-button *ngFor="let action of config.actions" (click)="resolveAction(action.action)">
                        <mat-icon>{{ action.icon }}</mat-icon>
                    </button>
                </div>
            </div>

            <ng-container *ngIf="lines">
                <p *ngFor="let line of lines">
                    <ng-container *ngFor="let part of line.parts">
                        <ng-container *ngIf="{ text: isObservable(part.text) ? (part.text | async) : part.text }; let data">
                            <span *ngIf="part.type === 0" class="mat-caption">
                                <a *ngIf="part.linkUrl" [routerLink]="part.linkUrl">{{ data.text }}</a>
                                <span *ngIf="!part.linkUrl">{{ data.text }}</span>
                            </span>
                            <span *ngIf="part.type === 1" class="mat-title">
                                <a *ngIf="part.linkUrl" [routerLink]="part.linkUrl">{{ data.text }}</a>
                                <span *ngIf="!part.linkUrl">{{ data.text }}</span>
                            </span>
                            <span *ngIf="part.type === 2" class="mat-body-1">
                                <a *ngIf="part.linkUrl" [routerLink]="part.linkUrl">{{ data.text }}</a>
                                <span *ngIf="!part.linkUrl">{{ data.text }}</span>
                            </span>
                            <span *ngIf="part.type === 3" class="mat-body-2">
                                <a *ngIf="part.linkUrl" [routerLink]="part.linkUrl">{{ data.text }}</a>
                                <span *ngIf="!part.linkUrl">{{ data.text }}</span>
                            </span>
                            <span *ngIf="part.type === 4" class="mat-subheading-1">
                                <a *ngIf="part.linkUrl" [routerLink]="part.linkUrl">{{ data.text }}</a>
                                <span *ngIf="!part.linkUrl">{{ data.text }}</span>
                            </span>
                            <span *ngIf="part.type === 5" class="mat-subheading-2">
                                <a *ngIf="part.linkUrl" [routerLink]="part.linkUrl">{{ data.text }}</a>
                                <span *ngIf="!part.linkUrl">{{ data.text }}</span>
                            </span>
                        </ng-container>
                    </ng-container>
                </p>
            </ng-container>

            <div fxLayout="column">
                <error-message *ngIf="errorOccured" [text]="'webComponents.boxes.boxLoadingError' | localize"></error-message>
                <info-message *ngIf="config.noDataMessage && lines && lines.length === 0" text="{{ config.noDataMessage | async }}"></info-message>
                <no-data-message *ngIf="!config.noDataMessage && lines && lines.length === 0"></no-data-message>
            </div>
        </div>
    </div>
</ng-container>