<ng-container *ngIf="config && graph && wrapperStyle && graphData">
    <div [ngStyle]="wrapperStyle">
        <ngx-charts-line-chart [results]="graphData" [view]="config.view" [scheme]="config.scheme" [gradient]="config.gradient" [xAxis]="graph.showXAxis"
            [yAxis]="graph.showYAxis" [legend]="config.showLegend" [showXAxisLabel]="graph.showXAxisLabel" [showYAxisLabel]="graph.showYAxisLabel"
            [xAxisLabel]="graph.xAxisLabel | async" [yAxisLabel]="graph.yAxisLabel | async" [autoScale]="graph.autoScale" [legendTitle]="legendTitle" (select)="onSelect($event)">
        </ngx-charts-line-chart>
    </div>
</ng-container>