<mat-card>
    <mat-card-content>
        <div class="push-sm">
            <div class="w-login-page-logo">
                <img alt="logo" src="http://fuse-angular-material.withinpixels.com/assets/images/logos/fuse.svg">
            </div>
            <div class="push-top push-bottom w-login-page-title mat-subheading-2">
                {{ 'module.login.loginTitle' | localize }}
            </div>
            <div *ngIf="loginFailed" class="push-top-sm push-bottom-md">
                <error-message text="{{ 'module.login.loginFailed' | localize }}"></error-message>
            </div>
            <div *ngIf="missingLogonDetails" class="push-top-sm push-bottom-md">
                <error-message text="{{ 'module.login.missingLogonDetails' | localize }}"></error-message>
            </div>
            <form [formGroup]="formGroup" autocomplete="false">
                <div layout="row">
                    <mat-form-field flex>
                        <input #emailElem matInput placeholder="{{ 'module.login.email' | localize }}" type="text" maxlength="30" name="email" [formControl]="email"
                            required autocomplete="off">
                        <mat-hint align="start">
                        </mat-hint>
                        <mat-error *ngIf="email.invalid">{{ 'module.login.' + getEmailError() | localize }}</mat-error>
                        <mat-hint align="end">{{emailElem.value.length}} / 30</mat-hint>
                    </mat-form-field>
                </div>
                <div layout="row" class="push-top-sm">
                    <mat-form-field flex>
                        <input matInput placeholder="{{ 'module.login.password' | localize }}" type="password" name="password" [formControl]="password"
                            required autocomplete="off">
                        <mat-error *ngIf="password.invalid">{{ 'module.login.' + getPasswordError() | localize }}</mat-error>
                    </mat-form-field>
                </div>
                <div layout="row" layout-align="center" class="push-top">
                    <div flex="65" flex-xs="100" flex-md="100">
                        <button flex mat-raised-button color="accent" (click)="onLogin()" class="w-login-page-sign-in-button">
                            {{ 'module.login.login' | localize }}
                        </button>
                    </div>
                </div>
            </form>

            <div layout="row" layout-align="center" class="push-top w-login-page-link mat-caption">
                <div layout="column" flex="50" flex-xs="100" flex-md="50">
                    <a [routerLink]="getRegisterUrl()">{{ 'module.login.createAccount' | localize }}</a>
                </div>
                <div layout="column" flex="50" flex-xs="100" flex-md="50" class="text-right">
                    <a routerLink="/auth/login">{{ 'module.login.forgotYourPassword' | localize }}</a>
                </div>
            </div>

            <div class="mat-subheading-2 push-top w-login-page-social-separator">
                {{ 'module.login.or' | localize }}
            </div>

            <div layout="row" layout-align="center" class="push-top push-bottom w-login-page-social-buttons">
                <div layout="column" flex="50" flex-xs="100" flex-md="50">
                    <facebook-button (click)="loginWithFacebook()"></facebook-button>
                </div>
                <div layout="column" flex="50" flex-xs="100" flex-md="50">
                    <google-button class="push-left-sm" (click)="loginWithGoogle()"></google-button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>