<div class="push-bottom">
    <div>
        <facebook-button (click)="loginWithFacebook()"></facebook-button>  
        <google-button  class="push-left-sm" (click)="loginWithGoogle()"></google-button>
    </div>
</div>

<mat-card>
    <mat-card-title layout="row" layout-align="start center">
        <span class="md-title">Login</span>
    </mat-card-title>
    <mat-card-subtitle *ngIf="!loginFailed">
        sign in with your credentials
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="loginFailed" class="tc-red-600">
        Your login attempt was not successful, please check your username & password
    </mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content class="push-bottom-none">
        <form #loginForm="ngForm">
            <div layout="row">
                <mat-form-field flex>
                    <input matInput #userElement #userControl="ngModel" placeholder="Username" type="text" maxlength="30" name="username" [(ngModel)]="username"
                        required autocomplete="off">
                    <mat-hint align="start">
                        <span [hidden]="!userControl.errors?.required || userControl.pristine" class="tc-red-600">Required</span>
                    </mat-hint>
                    <mat-hint align="end">{{userElement.value.length}} / 30</mat-hint>
                </mat-form-field>
            </div>
            <div layout="row" class="push-top-sm">
                <mat-form-field flex>
                    <input matInput #passElement #passControl="ngModel" placeholder="Password" type="password" name="password" [(ngModel)]="password"
                        required autocomplete="off">
                    <mat-hint align="start">
                        <span [hidden]="!passControl.errors?.required || passControl.pristine" class="tc-red-600">Required</span>
                    </mat-hint>
                    <mat-hint align="end">Something hard to guess</mat-hint>
                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <div layout="row">
            <button flex mat-raised-button color="accent" [disabled]="!loginForm.form.valid" (click)="onLogin()" class="text-upper">Sign In</button>
        </div>
    </mat-card-actions>
</mat-card>