<mat-card>
    <mat-card-content>
        <div class="push-sm">
            <div class="w-login-page-logo">
                <img alt="logo" src="{{ appLogo }}">
            </div>
            <div class="push-top push-bottom w-login-page-title mat-subheading-2">
                {{ 'module.login.resetPasswordTitle' | localize }}
            </div>
            <div *ngIf="resetPasswordFailed" class="push-top-sm push-bottom-md">
                <error-message text="{{ 'module.login.resetPasswordFailed' | localize }}"></error-message>
            </div>
            <div *ngIf="missingEmail" class="push-top-sm push-bottom-md">
                <error-message text="{{ 'module.login.missingEmail' | localize }}"></error-message>
            </div>
            <div *ngIf="resetPasswordEmailSend" class="push-top-sm push-bottom-md">
                <success-message text="{{ 'module.login.resetPasswordSend' | localize }}"></success-message>
            </div>
      
            <form [formGroup]="formGroup" autocomplete="false">
                <div layout="row">
                    <mat-form-field fxFlex>
                        <input #emailElem matInput placeholder="{{ 'module.login.email' | localize }}" type="text" maxlength="{{ emailLength }}" name="email" [formControl]="email"
                            required autocomplete="off">
                        <mat-hint align="start">
                        </mat-hint>
                        <mat-error *ngIf="email.invalid">{{ 'module.login.' + getEmailError() | localize }}</mat-error>
                        <mat-hint align="end">{{emailElem.value.length}} / {{ emailLength }}</mat-hint>
                    </mat-form-field>
                </div>
          
                <div layout="row" layout-align="center" class="push-top">
                    <div fxFlex="65" fxFlex.xs="100" fxFlex.md="100">
                        <button fxFlex mat-raised-button color="accent" (click)="onResetPassword()" class="w-login-page-sign-in-button">
                            {{ 'module.login.resetPassword' | localize }}
                        </button>
                    </div>
                </div>
            </form>

            <div layout="row" layout-align="center" class="push-top w-login-page-link mat-caption">
                <div layout="column" fxFlex="50" fxFlex.xs="100" fxFlex.md="50">
                        <a [routerLink]="getLoginUrl()">{{ 'module.login.loginWithExistingAccount' | localize }}</a>
                </div>
                <div layout="column" fxFlex="50" fxFlex.xs="100" fxFlex.md="50" class="text-right">
                        <a [routerLink]="getRegisterUrl()">{{ 'module.login.createAccount' | localize }}</a>
                </div>
            </div>

            <div class="mat-subheading-2 push-top w-login-page-social-separator">
                {{ 'module.login.or' | localize }}
            </div>

            <div layout="row" layout-align="center" class="push-top push-bottom w-login-page-social-buttons">
                <div layout="column" fxFlex="50" fxFlex.xs="100" fxFlex.md="50">
                    <facebook-button (click)="loginWithFacebook()"></facebook-button>
                </div>
                <div layout="column" fxFlex="50" fxFlex.xs="100" fxFlex.md="50">
                    <google-button class="push-left-sm" (click)="loginWithGoogle()"></google-button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>