<div class="w-comment">
    <div *ngIf="type === 'primary'" class="w-comment-primary">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="20" fxLayout="column">
            </div>
            <div fxFlex fxLayout="column" class="text-right push-right-md">
                <div class="mat-body-1 text-break">
                    <span [matTooltip]="date" class="w-comment-text">{{ text }}</span>
                </div>
            </div>
            <div fxLayout="column">
                <img [matTooltip]="name" class="w-comments-image" alt="avatar" [src]="avatarUrl">
            </div>
        </div>
    </div>

    <div *ngIf="type === 'secondary'" class="w-comment-secondary">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column">
                <img [matTooltip]="name" class="w-comments-image" alt="avatar" [src]="avatarUrl">
            </div>
            <div fxFlex fxLayout="column" class="push-left-md">
                <div class="mat-body-1 text-break">
                    <span [matTooltip]="date" class="w-comment-text">{{ text }}</span>
                </div>
            </div>
            <div fxFlex="20" fxLayout="column">
            </div>
        </div>
    </div>

</div>
