<div fxLayout class="w-comment">
    <div fxFlex="150px" fxFlex.sm="100px" class="text-center">
        <img class="w-comments-image" alt="avatar" [src]="avatarUrl">
    </div>
    <div flex class="text-left">
        <div class="md-subhead">{{ name }}</div>
        <div class="w-comment-date push-top-sm">
            <mat-icon>query_builder</mat-icon>
            <span>&nbsp;{{ date }}</span>
        </div>
        <div class="push-top-sm md-body-2">
            {{ text }}
        </div>
    </div>
</div>