<div>
    <div fxFlexFill fxLayout fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="30%" class="push-sm">
            <info-box *ngIf="!appointmentMapBox" [config]="appointmentInfoBox"></info-box>
            <div fxLayout="column" *ngIf="appointmentMapBox">
                <info-box [config]="appointmentInfoBox"></info-box>
            </div>
            <div *ngIf="appointmentMapBox" fxLayout="column" class="push-top-sm">
                <map-box [config]="appointmentMapBox"></map-box>
            </div>
        </div>
        <div fxFlex="70%" class="push-sm">
            <list-box [config]="chatMessagesListBox"></list-box>
        </div>
    </div>

    <div fxFlexFill fxLayout fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="50%" class="push-sm">
            <list-box [config]="dietsListBox"></list-box>
        </div>
        <div fxFlex="50%" class="push-sm">
            <list-box [config]="workoutsListBox"></list-box>
        </div>
    </div>

    <div fxLayout fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="100%" class="push-sm">
            <mod-user-stats [client]="client"></mod-user-stats>
        </div>
    </div>

    <div *ngIf="client && client.trainerPrivateNotes" fxLayout fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="100%" class="push-sm">
            <info-box [config]="privateNotesInfoBox"></info-box>
        </div>
    </div>

    <div *ngIf="client && client.trainerPublicNotes" fxLayout fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="100%" class="push-sm">
            <info-box [config]="publicNotesInfoBox"></info-box>
        </div>
    </div>
</div>