<div>
    <div fxFlexFill fxLayout fxLayout.sm="column" fxLayout.xs="column" fxLayout.md="column">
        <div fxFlex="33%" class="push-sm">
            <div fxLayout="column" flex>
                <info-box [config]="appointmentInfoBox"></info-box>
            </div>
            <div *ngIf="appointmentMapBox" class="push-top-sm" fxLayout="column" flex>
                <map-box [config]="appointmentMapBox"></map-box>
            </div>

        </div>
        <div fxFlex="67%" class="push-sm">
            <list-box [config]="chatMessagesListBox"></list-box>
        </div>
    </div>

    <div fxFlexFill fxLayout fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="50%" class="push-sm">
            <list-box [config]="dietsListBox"></list-box>
        </div>
        <div fxFlex="50%" class="push-sm">
            <list-box [config]="workoutsListBox"></list-box>
        </div>
    </div>

    <div fxLayout fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="100%" class="push-sm">
            <user-stats [userId]="clientId"></user-stats>
        </div>
    </div>

    <div *ngIf="client && client.trainerPrivateNotes" fxLayout fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="100%" class="push-sm">
            <info-box [config]="privateNotesInfoBox"></info-box>
        </div>
    </div>

    <div *ngIf="client && client.trainerPublicNotes" fxLayout fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="100%" class="push-sm">
            <info-box [config]="publicNotesInfoBox"></info-box>
        </div>
    </div>
</div>