<md-card class="push">
    <md-card-content>
        <button md-raised-button color="primary" [routerLink]="[getTrainerUrl('clients/edit/' + clientId + '/new-workout')]">{{'module.clients.newWorkout' | translate}}</button>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-content class="push-top">
        <p>{{'module.clients.newWorkoutFromTemplate' | translate }}:
            <md-select #copyFromWorkout style="width: 260px" placeholder="{{'module.clients.copyWorkoutLabel' | translate}}" [(ngModel)]="selectedValue">
                <md-option *ngFor="let workout of workoutTemplates" [value]="workout">
                    {{ workout.workoutName }}
                </md-option>
            </md-select>
        </p>
        <button md-raised-button color="primary" (click)="newWorkoutFromTemplate(copyFromWorkout)">{{'module.clients.copy' | translate}}</button>
    </md-card-content>
</md-card>

<md-list *ngIf="existingWorkouts" [dragula]='"dragula-bag"' [dragulaModel]="existingWorkouts">
    <ng-container *ngFor="let workout of existingWorkouts; let i = index">
        <td-expansion-panel class="push" [disableRipple]="false">
            <ng-template td-expansion-panel-header>
                <md-list-item class="w-cursor-pointer" style="background:whitesmoke">
                    <span class="dragula-move-handle w-cursor-move md-headline tc-blue-600">
                        +&nbsp;
                    </span>
                    <span class="dragula-move-handle w-cursor-move tc-red-700">{{i + 1}}. &nbsp;</span>
                    <span>{{workout.workoutName}}</span>
                    <span flex></span>
                    <edit-button (editAction)="goToEditWorkout(workout)"></edit-button>
                    <delete-button (confirm)="deleteWorkout(workout)"></delete-button>
                </md-list-item>
            </ng-template>

            <md-list class="push-left">
                <md-list-item *ngFor="let workoutExercise of workout.workoutExercises; let i = index">
                    <span class="md-body-1"><strong>{{i + 1}}.</strong> {{ workoutExercise.exercise.exerciseName }}</span>
                    <span flex></span>
                    <span class="md-caption">
                        {{'module.workouts.sets' | translate }}: <strong>{{workoutExercise.sets}}</strong> / {{'module.workouts.reps' | translate }}: <strong>{{workoutExercise.reps}}</strong>
                    </span>
                </md-list-item>
            </md-list>

        </td-expansion-panel>
    </ng-container>
</md-list>

 