<mat-card class="push">
    <mat-card-content>
        <button mat-raised-button color="primary" [routerLink]="[getTrainerUrl('clients/edit/' + clientId + '/new-workout')]">{{'module.clients.workout.newWorkout' | translate}}</button>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-form-field>
            <mat-select #copyFromWorkout [disabled]="!workoutTemplates" placeholder="{{'module.clients.workout.copyWorkoutLabel' | translate}}"
                [(ngModel)]="selectedValue">
                <mat-option *ngFor="let workout of workoutTemplates" [value]="workout">
                    {{ workout.workoutName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button class="push-left" color="primary" [disabled]="!copyFromWorkout.selected" (click)="newWorkoutFromTemplate(copyFromWorkout)">{{'module.clients.copyFromTemplate' | translate}}</button>
    </mat-card-content>
</mat-card>

<div *ngIf="existingWorkouts" class="push">
    <mat-list [dragula]='"dragula-bag"' [dragulaModel]="existingWorkouts">
        <ng-container *ngFor="let workout of existingWorkouts; let i = index">
            <mat-list-item class="w-sort-list-item dragula-move-handle">
                <span class="tc-red-700">{{i + 1}}. &nbsp;</span>
                <span>{{workout.workoutName}}</span>
                <span flex></span>
                <mat-icon class="w-cursor-pointer" (click)="expandWorkout(workout)">list</mat-icon>
                <edit-button (editAction)="goToEditWorkout(workout)"></edit-button>
                <delete-button (confirm)="deleteWorkout(workout)"></delete-button>
            </mat-list-item>
            <mat-list-item *ngIf="expandedWorkoutId === workout.id">
                <div matLine *ngFor="let workoutExercise of workout.workoutExercises; let i = index">
                    <div class="md-caption push-xs"><strong>{{i + 1}}.</strong> {{ workoutExercise.exercise.exerciseName }}
                        <span *ngIf="workoutExercise.sets && workoutExercise.reps">
                            <span matTooltip="{{'module.workouts.sets' | translate}}">{{workoutExercise.sets}}</span>x
                        <span matTooltip="{{'module.workouts.reps' | translate}}">{{workoutExercise.reps}}</span>
                        </span>
                    </div>
                </div>
            </mat-list-item>
        </ng-container>
    </mat-list>
</div>