<md-card class="push">
    <md-card-content>
        <button md-raised-button color="primary" (click)="asef()">{{'module.clients.newWorkout' | translate}}</button>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-content class="push-top">
        <p>{{'module.clients.newWorkoutFromTemplate' | translate }}:
            <md-select #copyFromWorkout style="width: 260px" placeholder="{{'module.clients.copyWorkoutLabel' | translate}}" [(ngModel)]="selectedValue"
                name="food">
                <md-option *ngFor="let workout of workoutTemplates" [value]="workout">
                    {{ workout.workoutName }}
                </md-option>
            </md-select>
        </p>
        <button md-raised-button color="primary" (click)="newWorkoutFromTemplate(copyFromWorkout)">{{'module.clients.copy' | translate}}</button>
    </md-card-content>
</md-card>

<md-list *ngIf="existingWorkouts">
    <md-list-item *ngFor="let workout of existingWorkouts" 
        class="push w-cursor-pointer" 
        style="background:whitesmoke"
        [routerLink]="[workout.id]">
        <span>{{workout.workoutName}}</span>
        <span flex></span>
        <delete-button (confirm)="deleteWorkout(workout)"></delete-button>
    </md-list-item>
</md-list>